<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home page</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f3bc929b7a.js" crossorigin="anonymous"></script>
    <script src="/js/script-min.js"></script>
</head>

</head>
<body>
    <footer class="footer-content" role="contentinfo">
        <nav class="footer-content__menu row">
                <a href="/" class="f-widget">หน้าแรก</a>                
                <a href="/news">ข่าวเกม</a>                 
                <a href="/news">รีวิวเกม</a>                 
                <a href="/news">เกมมาแรง</a>                 
                <a href="/community">ชุมชน / กระทู้</a>                 
                <a href="/team">หาปาร์ตี้เล่นเกม</a>                
        </nav>
        <div class="social-icon row">
            <a href="#" title="Facebook page" class="Facebook-page">
                <i class="fab fa-facebook"></i>
                
            </a>
            <a href="#" title="Instagram" class="Instagram">
                <i class="fab fa-instagram-square"></i>
                
            </a>
            <a href="#" title="Twitter" class="Twitter">
                <i class="fab fa-twitter-square"></i>
                
            </a>
            <a href href="#" title="Youtube channel" class="Youtube-channel">
                <i class="fab fa-youtube-square"></i>
                
            </a>
        </div> 
        <div class="footer-content-copyright">
            <p>Instagame.com ข่าวเกมPC เกมออนไลน์ เกมมาแรง<br> 
             © 2020 Instagame, All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

<script>
    (function($) {
    $.fn.hasScrollBar = function() {
        return this.get(0).scrollHeight > this.height().clientHeight;
    }
})(jQuery);
if($('.scrollcheck').hasScrollBar()){
    
}
</script>
