<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home page</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f3bc929b7a.js" crossorigin="anonymous"></script> -->

</head>

</head>
<body>
    <footer class="footer-content" role="contentinfo">
        <nav class="footer-content__menu row">
                <a href="/" class="f-widget">หน้าแรก</a>                
                <a href="/news">ข่าวเกม</a>                 
                <a href="/review">รีวิวเกม</a>                                  
                <a href="/commu">ชุมชน / กระทู้</a>                 
                <a href="/team">หาปาร์ตี้เล่นเกม</a>                
        </nav>
        <div class="social-icon row">
            <a href="https://www.facebook.com/profile.php?id=100001345254175" title="Facebook page" class="Facebook-page">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/tanathep.min/" title="Instagram" class="Instagram">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="#" title="Twitter" class="Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href href="#" title="Youtube channel" class="Youtube-channel">
                <i class="fab fa-youtube-square"></i>
            </a>
        </div> 
        <div class="footer-content-copyright">
            <p>Instagame.com ข่าวเกมPC เกมออนไลน์ เกมมาแรง<br> 
             © 2020 Instagame, All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

<script>
    (function($) {
    $.fn.hasScrollBar = function() {
        return this.get(0).scrollHeight > this.height().clientHeight;
    }
})(jQuery);
if($('.scrollcheck').hasScrollBar()){
    
}
</script>
