<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home page</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">

    <title>footer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/SignUp.css">


    <link rel="stylesheet" href="/css/footer.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="/js/script-min.js"></script>
</head>

</head>
<body>
    <div class="footer-content">
        <nav class="footer-content-menu" role="navigation">
                <a href="#">หน้าแรก</a>
                <a href="#">ข่าวเกม</a>
                <a href="#">รีวิวเกม</a>
                <a href="#">เกมมาแรง</a>
                <a href="#">ชุมชน / กระทู้</a>
                <a href="#">หาปาร์ตี้เล่นเกม</a>
        </nav>
        <div class="footer-content-copyright">
            <p>Instagame.com ข่าวเกมPC เกมออนไลน์ เกมมาแรง<br> 
             © 2020 Instagame, All rights reserved.</p>
        </div>
    </div>
</body>
</html>