<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/SignUp.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/script-min.js"></script>
</head>
    
<body>
    <!-- <div class="topbar_sub">
        <div id="hot-tag-desktop">
            <div id="hot-tag-box">
                <h5><span>กำลังมาแรง</span></h5>
                <a href="#" class="tag-box-item">Marvel</a>
                <a href="#" class="tag-box-item">Resident Evil 3</a>
                <a href="#" class="tag-box-item">PlayStation 5</a>
                <a href="#" class="tag-box-item">Nintendo</a>
                <a href="#" class="tag-box-item">PUBG</a>
                <a href="#" class="tag-box-item">Animal Crossing</a>
            </div>
        </div>
    </div> -->
    <div class="topbar_main">
        <div class="topbar_logo" style="margin-right: 15px;">
            <a href="/">
                <img src="/image/Logo.png" alt="Instagame" style="width: 70px; height: 55px; vertical-align: middle;">
            </a>
        </div>
        <div class="topbar_sidemenu">
            <nav class="topbar_menu" role="navigation">
                <a href="/" class="event-tracker" title="หน้าแรก">หน้าแรก</a>
                <a href="/news" class="event-tracker" title="ข่าวเกม">ข่าวเกม</a>
                <a href="#" class="event-tracker" title="เกมมาแรง">เกมมาแรง</a>
                <a href="/subject" class="event-tracker" title="ชุมชน/กระทู้">ชุมชน / กระทู้</a>
                <a href="/team" class="event-tracker" title="ปาร์ตี้">หาปาร์ตี้เล่นเกม</a>
                <input type="search" id="search" placeholder="ค้นหา..." maxlength="200">
                <% if(!currentUser) { %>
                    <a link href="/Sign_up" id="signup">
                        <button type="button" id="user-signup-btn" class="topbar-btn">
                            <img src="/image/topbar-register-icon.png" alt="signup">
                            สมัครสมาชิก
                        </button>
                    </a>
                    <a link href="/login" id="login">
                        <button type="button" id="user-signin-btn" class="topbar-btn">
                            <img src="/image/topbar-login-icon.png" alt="signin">
                            เข้าสู่ระบบ
                         </button>
                    </a>
                  <% } else { %>
                    Welcome, you logged as <%= currentUser.username %>
                    <button type="button" id="user-signin-btn" class="topbar-btn">
                        <a href='/logout'>Log out</a>
                     </button>
                  <% } %>  
            </nav>
        </div>
    </div>
    <div class='container'>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if (success && success.length > 0) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <% } %>
      </div>
</body>
</html>