<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/script-min.js"></script>
</head>
    
<body data-gr-c-s-loaded="true">

        <nav class="navbar navbar-expand-md" id="topbar_main">
            <div class="topbar_brand">
                <a class="navbar-brand" href="/">
                    <img src="/image/Logo.png" alt="Instagame" style="width: 70px; height: 50px;">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                     <a class="nav-link" href="/">หน้าแรก</a>
                 </li>
                 <li class="nav-item active">
                    <a class="nav-link" href="/news">ข่าวเกม</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">รีวิวเกม</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">เกมมาแรง</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/community">ชุมชน / กระทู้</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/team">หาปาร์ตี้เล่นเกม</a>
                </li>
                </ul>
              <form class="form-inline my-2 my-lg-0" id="member-box">
                  <div class="topbar_search">
                    <input class="form-control mr-sm-2" type="search" id="search" placeholder="ค้นหา..." aria-label="Search" maxlength="200">
                  </div>
                  <% if(!currentUser) { %>
                    <a link href="/Sign_up" id="signup">
                        <button type="button" id="user-signup" class="btn btn-signup my-2 my-sm-0">
                            <img src="/image/topbar-register-icon.png" alt="signup">
                            <span class="d-inline-block">สมัครสมาชิก</span>
                        </button>
                    </a>
                    <a link href="/login" id="login">
                        <button type="button" id="user-signin" class="btn btn-signin my-2 my-sm-0">
                            <img src="/image/topbar-login-icon.png" alt="signin">
                            <span class="d-inline-block">เข้าสู่ระบบ</span>
                        </button>
                    </a>
                 <% } else { %>
                    Welcome, you logged as <%= currentUser.alias %>
                    <button type="button" id="user-signin" class="btn my-2 my-sm-0">
                        <a href='/logout'>Log out</a>
                    </button>
                 <% } %>    
              </form>
            </div>
        </nav>
    </div>

    <div class='container'>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if (success && success.length > 0) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <% } %>
    </div>

</body>
</html>