@media only screen and (min-width: 320px) {
    .agreement {
        width: 90%;
        margin: 80px auto;
        padding: 15px; 
    }
}

@media only screen and (min-width: 1200px) {
    .agreement {
        width: 800px;
        margin: 120px auto;
        padding: 20px;
    }
}

.agreement {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-top: 5px solid lightseagreen;
    cursor: default;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .18);
}

.login_btn_close {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 0px;
    margin: 0;
    padding: 10px;
    align-items: flex-start;
    background-color: lightseagreen;
    border-bottom-color: lightseagreen;
    color: white;
    border-color: lightseagreen;
    border-style: solid;
}

.login_btn_close:hover {
    background-color: TEAL;
    border-bottom-color: TEAL;
    color: white;
    border-color: TEAL;
    border-style: solid;
}

.login-icon-close {
    background-image: url(/image/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
}

.remark {
    color: red;
}

.agreement h3,h4 {
    margin-bottom: 1rem;
}

.act-btn {
    border: 1px solid #FFC107;
    background-color: #FFC107;
    padding: .2rem .5rem;
}

.act-btn:hover {
    border: 1px solid #FF8F00;
    background-color: #FF8F00;
    padding: .2rem .5rem;
}






