@media (min-width: 1200px) {
    .news-body {
        padding-top: 150px;
    }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px){
    .news-body {
        padding-top: 100px;
    }
    }
    
    .news-body {
        overflow: hidden;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    
    @media (min-width: 1200px) {
        .headline {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .headline {
            max-width: 720px;
        }
     }
    
     @media (min-width: 576px) and (max-width: 767.98px) {
        .headline {
            max-width: 540px;
        }
     }
    
    .headline {
        background-color: #fff;
        margin: 0 auto;
        padding: 1.25rem;
        color: lightseagreen;
        position: relative;
        z-index: 5;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    
    .headline-sticky {
        z-index: 10;
    }
    
    .headline-sticky hr {
        border: 4px solid #e9ecef;
        margin-top: -20px;
    }
    
    .headline__name {
        background: white;
        font-size: 24px;
        font-weight: 600;
        margin: 0 auto 10px;
        padding: 0 .72rem;
        text-align: center;
        display: block;
        z-index: 5;
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .select-news-game_type {
            width: 100%;
            display: inline-block;
            position: relative;
            padding: 10px 5px;
            margin-top: 10px;
            text-align: left;
            
        }
    }

    @media (min-width: 768px) {
        .select-news-game_type {
            width: auto;
            display: inline-block;
            position: relative;
            min-width: 250px;
            padding: 10px 5px;
            margin-top: 10px;
            text-align: left;
        }
    }

    .select-news-game_type label {
        color: lightseagreen;
        font-weight: 400;
        font-size: 17px;
    }

    .game-type {
        display: inline-block;
        width: auto;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .create_team-icon {
        border: solid 1px #45B39D;
        border-radius: .5rem;
        display: inline-block;
        position: relative;
        padding: 5px 5px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        justify-content: right ;
        width: auto;
        color: white;
        background-color: #45B39D;
        font-size: 1rem;
    }

    .create_team-icon:hover {
        border: solid 1px #138D75;
        background-color: #138D75;
        color: WHITE;
    }

    .create_team-icon-review {
        border: solid 1px #3498DB;
        border-radius: .5rem;
        display: inline-block;
        position: relative;
        padding: 5px 5px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        justify-content: right ;
        width: auto;
        color: white;
        background-color: #3498DB;
        font-size: 1rem;
    }

    .create_team-icon-review:hover {
        border: solid 1px #2874A6;
        background-color: #2874A6;
        color: WHITE;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        .game-type {
            width: 100%;
            display: block;
        }
    }

    @media (min-width: 1200px) {
        .box {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .box {
            max-width: 720px;
        }
     }
    
     @media (min-width: 576px) and (max-width: 767.98px) {
        .box {
            max-width: 540px;
        }
     }
    
    .box {
        background-color: white;
        z-index: 5;
        margin: 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 100%;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    
    .box_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
    .box_header h4{
        color: #343a40;
        font-size: 21px;
        font-weight: 600;
    }
    
    .box_header h4 :hover {
        color: #343a40;
        text-decoration: underline;
    }
    
    .add-view {
        display: flex;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        justify-content: center;
    }
    
    .scrollto-add {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #343a40;
        color: #343a40;
        background-color: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        transition: color .15s;
    }
    
    .scrollto-add:hover {
        color: #fff;
        background-color: teal;
        border-color: teal;
    }
    
    .scrollto {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #343a40;
        color: #343a40;
        background-color: transparent;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        transition: color .15s;
    }
    
    .scrollto:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    
    section .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    
    section .col-6 {
        min-height: 1px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    
    section .col-md-6 {
        min-height: 1px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    
    .entry {
        display: flex;
        flex-direction: column;
        width: 100%;
        word-wrap: break-word;
        padding-bottom: 1rem;
        position: relative;
    }
    
    @media (min-width: 1200px) {
    .entry__thumb--zoom {
        overflow: hidden;
    }
    }
    
    @media (min-width: 1200px) {
    .entry__thumb {
        margin-bottom: 1rem;
    }
    }
    
    .entry__thumb {
        height: auto;
        margin-bottom: 1rem;
    }
    
    @media (min-width: 1200px) {
    .entry__thumb--zoom img {
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    }
    
    @media (min-width: 1200px) {
        .entry__thumb--zoom img:hover {
            transform: scale(1.1);
            opacity: 0.7;
        }
        }
    
    .entry__thumb img {
        max-width: 100%;
        height: auto;
    }
    
    .entry__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
    }
    
    .entry__title {
        font-weight: 500;
        font-size: 1rem;
    }
    
    .entry__desc, .entry__title {
        width: 100%;
        margin-bottom: 0;
    }
    
    .entry__title a {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .entry__title a {
        display: block;
        max-height: 66px;
        overflow: hidden;
    }
    
    .entry__title a:hover {
        color: #343a40;
        text-decoration: underline;
    }
    
    .entry__bottom, .entry__meta {
        width: 100%;
        margin-top: auto;
        padding-top: .5rem;
    }
    
    .entry__meta__count {
        margin-right: .5rem;
    }
    .entry__meta__count, .entry__meta__posted {
        font-size: .875rem;
        color: #adb5bd;
    }
    
    .entry__body p {
        height: 65px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 300;
        color: #464646;
    }
    
    .entry__body a:hover {
        font-weight: 400;
    }
    
    .box_body {
        width: 100%;
    }
    
    #hot-game {
        border: 0pt none;
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    #hot-game img {
        border: 0px;
        vertical-align: bottom;
        min-width: 100%;
    }
    
    
    
    
    
    
      
    
    
    
      
    
    
    
    
    
    
    
    
    
    
    
      
    
    
    
    