@media only screen and (min-width: 320px) {
    .create-news {
        width: 90%;
        margin: 80px auto;
        padding: 15px; 
    }
}

@media only screen and (min-width: 1200px) {
    .create-news {
        width: 50%;
        margin: 120px auto;
        padding: 20px;
    }
}

.create-news {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-top: 5px solid lightseagreen;
    cursor: default;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .18);
}

.create-news_btn_close {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 0px;
    margin: 0;
    padding: 10px;
    align-items: flex-start;
    background-color: lightseagreen;
    border-bottom-color: lightseagreen;
    color: white;
    border-color: lightseagreen;
    border-style: solid;
}

.create-news_btn_close:hover {
    background-color: TEAL;
    border-bottom-color: TEAL;
    color: white;
    border-color: TEAL;
    border-style: solid;
}

.create-news-icon-close {
    background-image: url(/image/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    
}

@media only screen and (max-width: 767.98px) {
    .create-news_header h4 span {
        display: block;
    }
}

.create-news_header {
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
.label-form-title {
    float: left;
    text-align: right;
    width: 130px;
}
}

@media (max-width: 767.98px) {
.label-form-title {
    float: none;
    text-align: left;
    width: 100%;
}
}

.label-form-title {
    font-size: 16px;
    margin-top: 4px;
    display: inline-block;
    font-weight: 600;
    color: #222;
    margin: 2px 0;
}

@media (min-width: 768px){
.form-inside {
    margin-left: 130px;
    padding-left: 10px;
}
}

@media (max-width: 767.98px) {
    .form-inside {
        margin-left: 0;
    }
}

.form-inside {
    color: #666;
}

.form-item {
    display: block;
    font-size: 14px;
    line-height: normal;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px 14px;
    border-radius: 4px;
    transition: border-color ease-in-out .15s;
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-create-news {
    text-align: center;
    margin: 10px 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
.submit-create-news-btn {
    display: inline-block;
    width: auto;
}
}

@media only screen and (max-width: 767.98px) {
.submit-create-news-btn {
    display: block;
    width: 100%;
}
}

.submit-create-news-btn {
    background-color: #333;
    color: #fff;
    border-color: #333;
    border-style: solid;
    font-size: 14px;
    padding: 4px 14px;
    margin: 2px auto;
}

.submit-create-news-btn:hover {
    background-color: #222;
    color: #fff;
    border-color: #222;
}
