

@media (min-width: 1200px) {
    .teams-body {
        padding-top: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .teams-body {
        padding-top: 100px;
    }
}

.teams-body {
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 24px;   
    min-height: 600px; 
}


@media (min-width: 1200px) {
    .teams__headline {
        max-width: 980px;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
    .teams__headline {
        max-width: 720px;
    }
 }

 @media (max-width: 767.98px) {
    .teams__headline {
        max-width: 540px;
    }
 }

.teams__headline {
    background-color: #fff;
    margin: 0 auto;
    padding: 1.25rem;
    color: lightseagreen;
    position: relative;
    z-index: 5;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.headline-sticky {
    z-index: 10;
}

.headline-sticky hr {
    border: 4px solid #e9ecef;
    margin-top: -20px;
}

.headline__name {
    background: white;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto 10px;
    padding: 0 .72rem;
    text-align: center;
    display: block;
    z-index: 5;
}

@media (min-width: 0px) {
    .teams__search {
        width: 100%;
        display: inline-block;
        position: relative;
        padding: 10px 5px;
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .teams__search {
        width: auto;
        display: inline-block;
        position: relative;
        min-width: 250px;
        padding: 10px 5px;
        margin-top: 10px;
    }
}

#search {
    display: inline-block;
    width: 100%;
    font-size: .875rem;
    padding: .25rem .5rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c0c0c2;
    border-radius: 0.5rem;
    transition: ease-in-out .15s;
}

.game-type {
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    width: auto;
    color: #313131;
    background-color: transparent;
    border: 0px transparent;
    font-size: 1.1rem;
    margin: 0 auto;
}

.game-type-tag {
    color: #fff;
    border: 1px solid #313131;
    background-color: #313131;
    padding: 1.5px;
}

.game-type-tag:hover{
    color: #313131;
    background-color: white;
}

.my_team-icon {
    border: 1px solid #3F51B5;
    background-color: #3F51B5;
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    width: auto;
    color: #fff;
    border-radius: 1rem;
}

.my_team-icon:hover {
    border: #303F9F;
    background-color: #303F9F;
    color: #fff;
}

.my_team-icon i {
    font-size: 18px;
}

.my_team-icon span {
    font-size: 1rem;
}


.create_team-icon {
    border: 1px solid #E74C3C ;
    background-color: #E74C3C  ;
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    margin-top: 10px;
    text-align: center;
    width: auto;
    color: #fff;
    border-radius: .5rem;
}

.create_team-icon:hover {
    border: #C0392B ;
    background-color: #C0392B ;
    color: #fff;
}


.my_team-icon {
    border: solid 1px MEDIUMSEAGREEN;
    border-radius: .5rem;
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    width: auto;
    color: white;
    background-color: MEDIUMSEAGREEN;
}

.my_team-icon:hover {
    border: solid 1px SEAGREEN;
    background-color: SEAGREEN;
    color: WHITE;
}

.submit-create-party-btn {
    background-color: YELLOWGREEN;
    color: #fff;
    border: 1px solid YELLOWGREEN;
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    margin-left: 0;
    margin-top: 10px;
    width: auto;
    text-align: center;
    border-radius: .5rem;
}

.submit-create-party-btn:hover {
    background-color: OLIVEDRAB;
    color: #fff;
    border-color: OLIVEDRAB;
}

@media (max-width: 768px) {
    .create_team-icon {
        border: 1px solid #E74C3C ;
        background-color: #E74C3C  ;
        display: block;
        position: relative;
        padding: 5px 5px;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        color: #fff;
        border-radius: .5rem;
    }
    .my_team-icon {
        border: solid 1px MEDIUMSEAGREEN;
        background-color: MEDIUMSEAGREEN;
        color: white;
        border-radius: .5rem;
        display: inline-block;
        position: relative;
        padding: 5px 5px;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 49%;
    }
    .submit-create-party-btn {
        background-color: YELLOWGREEN;
        color: #fff;
        border: 1px solid YELLOWGREEN;
        display: inline-block;
        position: relative;
        padding: 5px 5px;
        margin-left: 0;
        margin-top: 10px;
        width: 49%;
        text-align: center;
        border-radius: .5rem;
    }
 }

.my_team-icon i {
    font-size: 16px;
}

.my_team-icon span {
    font-size: 1rem;;
}

.create_team-icon i {
    font-size: 16px;
}

.create_team-icon span {
    font-size: 1rem;
}



@media (min-width: 1200px) {
    .box {
        max-width: 980px;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
    .box {
        max-width: 720px;
    }
 }

 @media (max-width: 767.98px) {
    .box {
        max-width: 540px;
    }
 }

.box {
    background-color: white;
    z-index: 5;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.box_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.add-view {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.scrollto-add {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #343a40;
    color: #343a40;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s;
}

.scrollto-add:hover {
    color: #fff;
    background-color: teal;
    border-color: teal;
}

.scrollto {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #343a40;
    color: #343a40;
    background-color: transparent;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    transition: color .15s;
}

.scrollto:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

section .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

section .col-6 {
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

section .col-md-6 {
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    padding-bottom: 1rem;
    position: relative;
}

@media (min-width: 1200px) {
.entry__thumb--zoom {
    overflow: hidden;
}
}

@media (min-width: 1200px) {
.entry__thumb {
    margin-bottom: 1rem;
}
}

.entry__thumb {
    height: auto;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
.entry__thumb--zoom img {
    transform: scale(1);
    transition: .3s ease-in-out;
}
}

@media (min-width: 1200px) {
    .entry__thumb--zoom img:hover {
        transform: scale(1.1);
        opacity: 0.7;
    }
    }

.entry__thumb img {
    max-width: 100%;
    height: auto;
}

.entry__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}

.entry__title {
    font-weight: 500;
    font-size: 1rem;
}

.entry__desc, .entry__title {
    width: 100%;
    margin-bottom: 0;
}

.entry__title a {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.entry__title a {
    display: block;
    max-height: 66px;
    overflow: hidden;
}

.entry__title a:hover {
    color: #343a40;
    text-decoration: underline;
}

.entry__people {
    width: 100%;
    margin-top: 5px;
    font-size: 10px;
    color: #464646;
}

.entry__people i {
    border: 1px solid #464646;
    padding: 3px;
    border-radius: 50%;
}

.entry__meta {
    width: 100%;
    margin-top: auto;
    padding-top: .5rem;
}

.entry__meta__count, .entry__meta__count2 {
    margin-right: .5rem;
}
.entry__meta__count, .entry__meta__posted {
    font-size: .875rem;
    color: DARKGRAY;
    
}

.entry__meta2 {
    width: 100%;
    margin-top: auto;
    padding-top: .5rem;
}

.entry__meta3 {
    width: 100%;
    margin-top: auto;
    padding-top: .5rem;
    text-align: center;
}

.entry__meta__count2{
    font-size: .875rem;
    color: GRAY;
    background-color: ;
}

.entry__meta__posted2 {
    font-size: .875rem;
    color: white;
    border-color: YELLOWGREEN;
    background-color: YELLOWGREEN;
    border: 1px solid;
    padding: 5px;
    width: auto;
    border-radius: .5rem;
}

.entry__meta__posted2:hover {
    color: white;
    border-color: OLIVEDRAB;
    background-color: OLIVEDRAB;
}

.entry__meta__posted3 {
    font-size: .875rem;
    color: white;
    border-color: rgb(72, 166, 224);
    background-color: rgb(72, 166, 224);
    border: 1px solid;
    padding: 5px;
    width: auto;
    border-radius: .5rem;
}

.entry__meta__posted3:hover {
    color: white;
    border-color: STEELBLUE;
    background-color: STEELBLUE;
}

.entry__body p {
    height: 65px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #464646;
}

.entry__body a:hover {
    font-weight: 400;
}

.box_body {
    width: 100%;
}






  



  











  



