.profile-content {
    padding: 15px;
    margin-top: 30px;
}

@media (min-width: 1200px) {
.profile-content-container {
    width: 1050px;
}
}

.profile-content-container {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 1rem;
}
@media (min-width: 320px) and (max-width: 1199.98px) {
.profile-content-container {
    width: 100%;
}
}

.profile-content-container h1 {
    font-size: 24px;
    border-bottom: 3px solid #ddd;
    margin: 0 0 20px;
    padding: 0 0 10px;
}

@media (min-width: 1200px) {
.profile-content-container .profile-form {
    width: 600px;
    margin: 0 auto;
}
}

@media (min-width: 320px) and (max-width: 1199.98px) {
.profile-content-container .profile-form {
    width: 100%;
    margin: 0 auto;
}
}