.footer-content {
    background-color: #212529;
    overflow: hidden;
    position: relative;
    clear: both;
    height: auto;
    width: 100%;
    bottom: 0;
}

.footer-content__menu {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    padding: 2.25rem 0;
    justify-content: center;
    text-align: center;
}

@media (max-width: 991.98px) {
    .footer-content__menu a {
        width: 100%;
        margin: 10px auto;
    }   
}

.footer-content__menu a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 0 .5rem;
}

.footer-content__menu a:hover {
    color: #d7dbdf;
}

.social-icon {
    display: flex;
    max-width: 980px;
    margin: 0 auto 20px;
    padding: 0 0;
    justify-content: center;
    align-items: center;
}

.social-icon a {
    color: #adb5bd;
    font-size: 24px;
    font-weight: 200;
    padding: 0 .5rem;
}

.Facebook-page :hover{
    color: #3b5998;
}

.Twitter :hover{
    color:  #1da1f2;
}

.Instagram :hover{
    color: #c32aa3;
}

.Youtube-channel :hover{
    color: #ff0000;
}

.footer-content-copyright {
    max-width: 980px;
    border-top: 1px solid #6c757d;
    font-size: .875rem;
    color: #6c757d;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

.up #up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{

    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
}
