.login-form {
    min-height: 500px;
}

@media only screen and (min-width: 320px) {
    .login {
        width: 90%;
        margin: 80px auto;
        padding: 15px; 
    }
}

@media only screen and (min-width: 1170px) {
    .login {
        width: 540px;
        margin: 120px auto;
        padding: 20px;
    }
}

.login {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-top: 5px solid lightseagreen;
    cursor: default;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .18);
}

.login_btn_close {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 0px;
    margin: 0;
    padding: 10px;
    align-items: flex-start;
    background-color: lightseagreen;
    border-bottom-color: lightseagreen;
    color: white;
    border-color: lightseagreen;
    border-style: solid;
}

.login_btn_close:hover {
    background-color: TEAL;
    border-bottom-color: TEAL;
    color: white;
    border-color: TEAL;
    border-style: solid;
}

.login-icon-close {
    background-image: url(/image/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    
}

@media only screen and (max-width: 767.98px) {
    .login_header h4 span {
        display: block;
    }
}

@media (min-width: 768px) {
.label-form-title {
    float: left;
    text-align: right;
    width: 130px;
}
}

@media (max-width: 767.98px) {
.label-form-title {
    float: none;
    text-align: left;
    width: 100%;
}
}

.label-form-title {
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;
    font-weight: 600;
    color: #000;
    margin: 2px 0;
}

@media (min-width: 768px){
.form-inside {
    margin-left: 130px;
    padding-left: 10px;
}
}

@media (max-width: 767.98px) {
    .form-inside {
        margin-left: 0;
    }
}

.form-inside {
    color: #666;
}

.form-item {
    display: block;
    font-size: 14px;
    line-height: normal;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px 14px;
    border-radius: 4px;
    transition: border-color ease-in-out .15s;
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.forget-psw {
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    padding: 4px;
    margin-top: auto;
}

.forget-psw:hover {
    color: #000;
    text-decoration: underline;
}

.forget-psw-icon {
    width: 12.250px;
    height: 14px;
    margin-left: 140px;
    overflow: visible;
    margin-top: -2px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

label a {
    color: #444;
}

label a:hover {
    color: #222;
    text-decoration: underline;
}

.submit-login {
    text-align: center;
    margin: 10px 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
.submit-login-btn {
    display: inline-block;
    width: auto;
}
}

@media only screen and (max-width: 767.98px) {
.submit-login-btn {
    display: block;
    width: 100%;
}
}

.submit-login-btn {
    background-color: #333;
    color: #fff;
    border-color: #333;
    border-style: solid;
    font-size: 14px;
    padding: 4px 14px;
    margin: 2px 0px;
}

.submit-login-btn:hover {
    background-color: #222;
    color: #fff;
    border-color: #222;
}

@media only screen and (min-width: 768px) {
.fb-login-btn {
     display: inline-block;
     width: auto;
}
}
    
@media only screen and (max-width: 767.98px) {
.fb-login-btn {
    display: block;
    width: 100%;
}
}

.fb-login-btn {
    background-color: STEELBLUE;
    color: #fff;
    border-color: STEELBLUE;
    border-style: solid;
    font-size: 14px;
    padding: 4px 14px;
    margin: 2px 0px;
}

.fb-login-btn:hover {
    background-color: rgb(70,130,200);
    color: #fff;
    border-color: rgb(70,130,200);
}

.fb-icon-login {
    width: 14px;
    height: 14px;
    margin-left: 0px;
    overflow: visible;
}
@media only screen and (min-width: 768px) {
.gg-login-btn {
     display: inline-block;
     width: auto;
}
}
        
@media only screen and (max-width: 767.98px) {
.gg-login-btn {
    display: block;
    width: 100%;
}
}

.gg-login-btn {
    background-color: whitesmoke;
    color: #333;
    border-color: whitesmoke;
    border-style: solid;
    font-size: 14px;
    padding: 4px 14px;
    margin: 2px 0px;
}

.gg-login-btn:hover {
    background-color: LIGHTGRAY;
    color: #222;
    border-color: LIGHTGRAY;
}

.gg-icon-login {
    width: 14px;
    height: 14px;
    margin-left: 0px;
    overflow: visible;
}