@media (min-width: 1200px) {
    .main-body {
        padding-top: 150px;
    }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px){
    .main-body {
        padding-top: 100px;
    }
    }
    
    .main-body {
        overflow: hidden;
        padding-top: 85px;
        padding-bottom: 24px;
    }
    
    @media (min-width: 1200px) {
        .teams__headline {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .teams__headline {
            max-width: 720px;
        }
     }
    
     @media (max-width: 767.98px) {
        .teams__headline {
            max-width: 540px;
        }
     }
    
    .teams__headline {
        background-color: transparent;
        margin: 0 auto;
        padding: 1.25rem;
        color: lightseagreen;
        position: relative;
        z-index: 5;
        position: relative;
        text-align: right;
    }
    
    .headline-sticky {
        z-index: 10;
    }
    
    .entry__meta__posted3 {
        font-size: .875rem;
        color: white;
        border-color: FIREBRICK;
        background-color: FIREBRICK;
        border: 1px solid;
        padding: 5px;
        width: auto;
        border-radius: .5rem;
    }
    
    .entry__meta__posted3:hover {
        color: white;
        border-color: DARKRED;
        background-color: DARKRED;
    }
    
    .entry__meta__posted4 {
        font-size: .875rem;
        color: white;
        border-color: #00ACC1;
        background-color: #00ACC1;
        border: 1px solid;
        padding: 5px;
        width: auto;
        border-radius: .5rem;
    }
    
    .entry__meta__posted4:hover {
        color: white;
        border-color: #00838F;
        background-color: #00838F;
    }


    @media (min-width: 1200px) {
        .featured-box {
            max-width: 980px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        .featured-box {
            max-width: 720px;
            padding: 0;
        }
    }

    @media (max-width: 767.98px) {
        .featured-box {
            max-width: 540px;
        }
    }

    .featured-box {
        z-index: 5;
        margin: 0 auto;
        padding: 0 1rem;
        position: relative;
    }
    
    @media (min-width: 1200px) {
        .headline {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .headline {
            max-width: 720px;
        }
     }
    
     @media (max-width: 767.98px) {
        .headline {
            max-width: 540px;
        }
     }
    
     .featured-box__img {
        margin-bottom: 0;
    }

    figure {
        margin: 0 0 1rem;
    }

    .featured-box__img img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-style: none;
        position: relative;
    }
    
    .featured-box__desc {
        background-color: #212529;
        margin-top: auto;
        padding: 1rem;
    }

    @media (min-width: 1200px) {
        .featured-box__desc h1 {
            font-size: 2rem;
            color: #fff;
            margin: 0;
        }
    }   

    @media (min-width: 768px) and (max-width: 1199.98px){
        .featured-box__desc h1 {
            font-size: 1.4rem;
            color: #fff;
            margin: 0;
        }
    }

    @media (max-width: 767.98px) {
        .featured-box__desc h1 {
            font-size: 1.1666666667rem;
            color: #fff;
            margin: 0;
        }
    }


    .featured-box__meta {
        color: #adb5bd;
        margin-top: 10px;
    }

    a.poster {
        color: #adb5bd;
    }

    a.poster:hover {
        color: #91979e;
    }

    @media (min-width: 1200px) {
        .breadcrumb-box {
             max-width: 980px;
        }   
    }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        .breadcrumb-box {
            max-width: 720px;
        }
    }

    @media (max-width: 767.98px) {
        .breadcrumb-box {
            max-width: 540px;
        }
    }

    .breadcrumb-box {
        z-index: 5;
        margin: auto;
        padding: 0 1rem
    }

    .breadcrumbs {
        font-size: .875rem;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        padding: .75rem 1rem;
        list-style: none;
    }
    
    .breadcrumb-section a {
        color: #adb5bd;
        padding-left: .5rem;
    }
    
    .breadcrumb-section a:hover {
        color: #899097;
        text-decoration: none;
    }
    
    
    .breadcrumb-section.active a {
        color: lightseagreen;
        padding-left: .5rem;
    }
    
    .breadcrumb-section.active a:hover {
        color: lightseagreen;
        text-decoration: none;
    }

    @media (min-width: 1200px) {
        .content {
             max-width: 980px;
        }
     }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        .content {
            max-width: 720px;
        }
    }
    
    @media (max-width: 767.98px) {
        .content {
            max-width: 540px;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        z-index: 5;
        margin: auto;
        position: relative;
        padding: 0 1rem;
        background-color: #fff;
        border-radius: 1rem;
        margin-top: 2rem;
    }

    @media (min-width: 1200px) {
        .content__main {
            flex: 0 0 65%;
            max-width: 65%;
        }
    }    

    .content__main {
        width: 100%;
    }

    .content__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .content__social__share {
        margin-left: auto;
    }

    .btn-share {
        font-size: .875rem;
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
        border: 1px solid;
        padding: .25rem .5rem;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        width: auto;
        height: auto;
        font-weight: 400;
    }

    @media (max-width: 767.98px) {
        .btn-share {
            font-size: 1.25rem;
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
            border: 1px solid;
            padding: .25rem .5rem;
            display: inline-block;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            line-height: 35px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-weight: 400;
        }
    }   

    .btn-share:hover {
        text-decoration: none;
    }

    .btn-fb {
        color: #fff;
        background-color: #395799;
        border-color: #395799;
    }

    .btn-fb:hover {
        color: #fff;
        background-color: #2f477d;
        border-color: #2b4274;
    }

    .btn-tw {
        color: #fff;
        background-color: #049ff6;
        border-color: #049ff6;
    }

    .btn-tw:hover {
        color: #fff;
        background-color: #0387d0;
        border-color: #037fc4;
    }

    .btn-ln {
        color: #fff;
        background-color: #00b732;
        border-color: #00b732;
    }

    .btn-ln:hover {
        color: #fff;
        background-color: #009128;
        border-color: #008424;
    }

    .content__read {
        padding: 2rem 1rem;
    }

    .order-1 {
        order: 1;
    }

    .content__read h2 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 400;
        line-height: 1.4;
        color: inherit;
        font-size: 30px;
    }

    .content__read p {
        font-size: 16px;
    }

    address, dl, ol, p, pre, ul {
        margin-bottom: 1rem;
    }

    dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
        margin-top: 0;
    }

.content__tag {
    padding: 1.5rem 1rem;
}


.content__tag h4 {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.4;
    font-size: 1rem;
}

@media (min-width: 1200px) {
.content__tag__content {
    display: inline-block;
    vertical-align: middle;
}
}

.btn-tag {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border: 1px solid;
    padding: .25rem .5rem;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: .875rem;
}

.btn-tag:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
} 

@media (min-width: 1200px) {
.content__aside {
    flex: 0 0 35%;
    max-width: 35%;
    padding-right: 0;
    padding-left: 0;
}
}

.content__aside {
    width: 100%;
    margin-top: 1rem;
}

.entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    padding-bottom: 1rem;
    position: relative;
}

@media (min-width: 1200px) {
.entry__thumb--zoom {
    overflow: hidden;
}
}

@media (min-width: 1200px) {
.entry__thumb {
    margin-bottom: 1rem;
}
}

.entry__thumb {
    height: auto;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
.entry__thumb--zoom img {
    transform: scale(1);
    transition: .3s ease-in-out;
}
}

@media (min-width: 1200px) {
    .entry__thumb--zoom img:hover {
        transform: scale(1.1);
        opacity: 0.7;
    }
    }

.entry__thumb img {
    max-width: 100%;
    height: auto;
}

.entry__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}

.entry__title {
    font-weight: 500;
    font-size: 1rem;
}

.entry__desc, .entry__title {
    width: 100%;
    margin-bottom: 0;
}

.entry__title a {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.entry__title a {
    display: block;
    max-height: 66px;
    overflow: hidden;
}

.entry__title a:hover {
    color: #343a40;
    text-decoration: underline;
}

.entry__people {
    width: 100%;
    margin-top: 5px;
    font-size: 10px;
    color: #464646;
}

.entry__people i {
    border: 1px solid #464646;
    padding: 3px;
    border-radius: 50%;
}

.entry__meta {
    width: 100%;
    margin-top: auto;
    padding-top: .5rem;
}

.entry__meta__count, .entry__meta__count2 {
    margin-right: .5rem;
}
.entry__meta__count, .entry__meta__posted {
    font-size: .875rem;
    color: DARKGRAY;
    
}

.entry__meta2 {
    width: 100%;
    margin-top: auto;
    padding-top: .5rem;
}

.entry__meta3 {
    width: 100%;
    margin-top: auto;
    padding-top: .5rem;
    text-align: center;
}

.entry__meta__count2{
    font-size: .875rem;
    color: GRAY;
    background-color: ;
}

.entry__meta__posted2 {
    font-size: .875rem;
    color: white;
    border-color: YELLOWGREEN;
    background-color: YELLOWGREEN;
    border: 1px solid;
    padding: 5px;
    width: auto;
    border-radius: .5rem;
}

.entry__meta__posted2:hover {
    color: white;
    border-color: OLIVEDRAB;
    background-color: OLIVEDRAB;
}


.entry__body p {
    height: 65px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #464646;
}

.entry__body a:hover {
    font-weight: 400;
}

.box_body {
    width: 100%;
}

    .content__comment {
        flex: 0 0 100%;
        max-width: 100%;
        border-top: 5px solid #dee2e6;
        margin: 1rem 0;
        padding-top: 25px;
    }

    @media (min-width: 1200px) {
    .order-lg-3 {
        order: 3;
    }
    }   
    .order-2 {
        order: 2;
    }

    @media (min-width: 1200px) {
        .box {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .box {
            max-width: 720px;
        }
     }
    
     @media (max-width: 767.98px) {
        .box {
            max-width: 540px;
        }
     }
    
    .box {
        background-color: white;
        z-index: 5;
        margin: 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 100%;
    }
    
.line-box {
    margin-top: 1rem;
}

.line-tag-box {
    border-top: 1px solid #dee2e6;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}


    .box__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
    .box__header h3{
        color: inherit;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .box__header i{
        font-size: 18px;
        color: #b8bbc5;
    }
    
    .box__body textarea {
        font-size: 16px;
        color: #343a40;
    }

    .submit-comment-btn {
        font-size: .875rem;
        color: white;
        border-color: DODGERBLUE;
        background-color: DODGERBLUE;
        border: 1px solid;
        padding: 5px;
        width: 10%;
        display: inline-block;
    }

    .submit-comment-btn:hover {
        color: white;
        border-color: STEELBLUE;
        background-color: STEELBLUE;
    }
    
    @media (max-width: 767.98px) {
        .submit-comment-btn  {
            display: block;
            margin: auto;
            width: 100%;
        }
     }

     .be-comment-block {
        margin-bottom: 50px !important;
        border: 1px solid #edeff2;
        border-radius: 2px;
        padding: 20px;
        border:1px solid #ffffff;
    }
    
    .comments-title {
        font-size: 17px;
        font-weight: 500;
        color: #262626;
        margin-bottom: 15px;
    }
    
    .be-img-comment {
        width: 60px;
        height: 60px;
        float: left;
        margin-bottom: 15px;
    }
    
    .be-ava-comment {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .be-comment-content {
        margin-left: 65px;
    }
    
    .be-comment-content span {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
    }
    
    .be-comment-name {
        font-size: 16px;
    }
    
    .be-comment-content a {
        color: #383b43;
    }
    
    .be-comment-time {
        margin-left: auto;
        text-align: right;
        display: inline-block;
        font-size: 14px;
        color: #b4b7c1;
    }
    
    @media (max-width: 767.98px) {
        .be-comment-content span {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }
    
        .be-comment-name {
            display: block;
        }
    
        .be-comment-time {
            margin-left: auto;
            text-align: left;
            display: block;
            font-size: 14px;
            color: #b4b7c1;
        }
    
    }
    
    @media (min-width: 1200px) {
        .topbar__member-comment {
            border-bottom: none;
            margin-left: auto;
            padding: 0;
        }
        }
            
        .topbar__member-comment {
            transition-duration: .3s;
            margin-left: 0;
            font-size: 14px;
            color: #b4b7c1;
            display: inline-block;
        }
            
        .dropdown-login, .dropdown-login:hover {
           box-shadow: none;
        }
            
        .dropdown-item1 {
            font-size: 14px;
            color: #b4b7c1;
        }
        
    
        .be-comment-text {
            font-size: 14px;
            line-height: 1rem;
            color: #7a8192;
            display: block;
            width: 100%;
            background: #f6f6f7;
            border: 1px solid #edeff2;
            padding: 15px 20px 20px 20px;
            border-radius: 1rem;
        }
        
        @media (max-width: 768px) {
            .be-comment-text {
                font-size: 14px;
                line-height: 1rem;
                color: #7a8192;
                display: block;
                background: #f6f6f7;
                border: 1px solid #edeff2;
                padding: 10px 20px;
                width: 100%;
                position: relative;
            }
        }
        
        .form-group .form-input {
            font-size: 14px;
            line-height: 1.2rem;
            font-weight: 400;
            color: #7a8192;
            width:100%;
            margin: auto;
            height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #edeff2;
            border-radius: 1rem;
        }
        
        .form-group.fl_icon .form-input {
            padding-left: 50px;
        }
        
        .form-group textarea.form-input {
            height: 100px;
        }
    
    .dropdown {
        display: block;
        position: relative;
        text-align: right;
    }
    
    .dropdown-item, .dropdown-menu {
        border-radius: 1rem;
        
    }
    
    .categoly-btn {
        color: #fff;
        padding: .5rem;
        background-color: rgb(35, 134, 173);
        border: 1px solid rgb(35, 134, 173);
        border-radius: .5rem;
    }

    .sort-comment select {
        text-align: right;
        font-size: 14px;
    }
    
    .item-aside {
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    }
    
    .hot-game {
        background-color: #212529!important;
    }

    .hot-game-icon {
        color: #E74C3C;
    }

    .add-view {
        display: flex;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        justify-content: center;
    }
    
    .scrollto-add {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        transition: color .15s;
    }
    
    .scrollto-add:hover {
        color: #fff;
        background-color: teal;
        border-color: teal;
    }
      

    
      
    
    
    
    
    
    
    
    
    
    
    
      
    
    
    
    