@media (min-width: 1200px) {
    .main-body {
        padding-top: 150px;
    }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px){
    .main-body {
        padding-top: 100px;
    }
    }
    
    .main-body {
        overflow: hidden;
        padding-top: 85px;
        padding-bottom: 24px;
    }
    
    @media (min-width: 1200px) {
        .featured-box {
            max-width: 980px;
        }
    }

    @media (min-width: 768px) {
        .featured-box {
            max-width: 720px;
            padding: 0;
        }
    }

    @media (min-width: 576px) {
        .featured-box {
            max-width: 540px;
        }
    }

    .featured-box {
        z-index: 5;
        margin: 0 auto;
        padding: 0 1rem;
        position: relative;
    }
    
    @media (min-width: 1200px) {
        .headline {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .headline {
            max-width: 720px;
        }
     }
    
     @media (min-width: 576px) and (max-width: 767.98px) {
        .headline {
            max-width: 540px;
        }
     }
    
     .featured-box__img {
        margin-bottom: 0;
    }

    figure {
        margin: 0 0 1rem;
    }

    .featured-box__img img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-style: none;
    }
    
    .featured-box__desc {
        background-color: #212529;
        margin-top: auto;
        padding: 1rem;
    }

    @media (min-width: 1200px) {
        .featured-box__desc h1 {
            font-size: 1.75rem;
        }
    }   

    @media (min-width: 768px) {
        .featured-box__desc h1 {
            font-size: 1.4rem;
        }
    }

    .featured-box__desc h1 {
        font-size: 1.1666666667rem;
        color: #fff;
        margin: 0;
        }

    .featured-box__meta {
        color: #adb5bd;
        margin-top: 10px;
    }

    @media (min-width: 1200px) {
        .breadcrumb-box {
             max-width: 980px;
        }   
    }

    @media (min-width: 768px) {
        .breadcrumb-box {
            max-width: 720px;
        }
    }

    .breadcrumb-box {
        z-index: 5;
        margin: auto;
    }

    @media (min-width: 576px) {
        .breadcrumb-box {
            max-width: 540px;
        }
    }

    .breadcrumb {
        font-size: .875rem;
        margin-bottom: 0;
    }

    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: .75rem 1rem;
        list-style: none;
        background-color: #f8f9fa;
    }

    .breadcrumb-item .active {
        color: lightseagreen;
    }
    .breadcrumb-item+.breadcrumb-item {
        padding-left: .5rem;
    }

    @media (min-width: 1200px) {
        .content {
             max-width: 980px;
        }
     }

    @media (min-width: 768px) {
        .content {
            max-width: 720px;
        }
    }
    
    @media (min-width: 576px){
        .content {
            max-width: 540px;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        z-index: 5;
        margin: auto;
        position: relative;
    }

    .content__main {
        width: 100%;
    }

    .content__read {
        padding: 2rem 1rem;
    }

    .order-1 {
        order: 1;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 700;
        line-height: 1.4;
        color: inherit;
    }

    .h2, h2 {
        font-size: 1.5rem;
    }

    address, dl, ol, p, pre, ul {
        margin-bottom: 1rem;
    }

    dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
        margin-top: 0;
    }

    .content__comment {
        flex: 0 0 100%;
        max-width: 100%;
        border-top: 5px solid #dee2e6;
        margin: 1rem 0;
        padding-top: 25px;
    }

    @media (min-width: 1200px) {
    .order-lg-3 {
        order: 3;
    }
    }   
    .order-2 {
        order: 2;
    }

    @media (min-width: 1200px) {
        .box {
            max-width: 980px;
        }
     }
    
     @media (min-width: 768px) and (max-width: 991.98px) {
        .box {
            max-width: 720px;
        }
     }
    
     @media (min-width: 576px) and (max-width: 767.98px) {
        .box {
            max-width: 540px;
        }
     }
    
    .box {
        background-color: white;
        z-index: 5;
        margin: 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 100%;
    }
    
    .box__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
    .box__header h3{
        color: #343a40;
        font-size: 21px;
        font-weight: 600;
    }
    
    .add-view {
        display: flex;
        float: right;
        margin-bottom: 1rem;
    }
    
    .scrollto-add {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #343a40;
        color: #343a40;
        background-color: transparent;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        transition: color .15s;
    }
    
    .scrollto-add:hover {
        color: #fff;
        background-color: rgb(0, 61, 154);
        border-color: rgb(0, 61, 154);
    }
    
    .scrollto {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #343a40;
        color: #343a40;
        background-color: transparent;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        transition: color .15s;
    }
    
    .scrollto:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    
    section .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    
    section .col-6 {
        min-height: 1px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    
    section .col-md-6 {
        min-height: 1px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    
    .entry {
        display: flex;
        flex-direction: column;
        width: 100%;
        word-wrap: break-word;
        padding-bottom: 1rem;
        position: relative;
    }
    
    @media (min-width: 1200px) {
    .entry__thumb--zoom {
        overflow: hidden;
    }
    }
    
    @media (min-width: 1200px) {
    .entry__thumb {
        margin-bottom: 1rem;
    }
    }
    
    .entry__thumb {
        height: auto;
        margin-bottom: 1rem;
    }
    
    @media (min-width: 1200px) {
    .entry__thumb--zoom img {
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    }
    
    @media (min-width: 1200px) {
        .entry__thumb--zoom img:hover {
            transform: scale(1.1);
            opacity: 0.7;
        }
        }
    
    .entry__thumb img {
        max-width: 100%;
        height: auto;
    }
    
    .entry__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
    }
    
    .entry__title {
        font-weight: 500;
        font-size: 1rem;
    }
    
    .entry__desc, .entry__title {
        width: 100%;
        margin-bottom: 0;
    }
    
    .entry__title a {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .entry__title a {
        display: block;
        max-height: 66px;
        overflow: hidden;
    }
    
    .entry__title a:hover {
        color: #343a40;
        text-decoration: underline;
    }
    
    .entry__bottom, .entry__meta {
        width: 100%;
        margin-top: auto;
        padding-top: .5rem;
    }
    
    .entry__meta__count {
        margin-right: .5rem;
    }
    .entry__meta__count, .entry__meta__posted {
        font-size: .875rem;
        color: #adb5bd;
    }
    
    .entry__body p {
        height: 65px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 300;
        color: #464646;
    }
    
    .entry__body a:hover {
        font-weight: 400;
    }
    
    .box__body {
        width: 100%;
    }
    
    #hot-game {
        border: 0pt none;
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    #hot-game img {
        border: 0px;
        vertical-align: bottom;
        min-width: 100%;
    }
    
    
    
    
    
    
      
    
    
    
      
    
    
    
    
    
    
    
    
    
    
    
      
    
    
    
    