<%- include("patials/header") %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create team</title>
  <link rel="stylesheet" href="/css/c_team.css">
</head>
    
<body>

<div class="create-news" href="/">
    <a href="/" class="create-news_btn_close">
        <div class="create-news-icon-close"></div>
    </a>
    <div class="create-news_header">
        <h3 style="font-family: 'Kanit', sans-serif; color: gray;">สร้างปาร์ตี้</h3>
    </div>

    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">ชื่อปาร์ตี้</label>
        <input type="text" class="form-control" id="party-name" placeholder="ใส่ชื่อปาร์ตี้" name="headline">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ชื่อเกม</label>
        <input type="text" class="form-control" id="party-game-name" placeholder="ใส่ชื่อเกม" name="game">
      </div>
      <div class="form-group">
        <label for="img">เลือกรูปภาพ:</label>
        <input type="file" id="party-img" name="party-img" accept="image/*">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">จำนวนสมาชิกในปาร์ตี้</label>
        <select class="form-control" id="party-member" name="max_number">
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="date">วันที่นัดหมาย</label>
          <input type="date" id="party-date" name="appointment_date">
        </div>       
        <div class="form-group col-md-6">
          <label for="date">เวลานัดหมาย</label>
          <input type="time" id="party-time" name="appointment_time">
        </div>    
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">คำอธิบายเพิ่มเติม</label>
        <textarea class="form-control" id="descteam" rows="3" name="content"></textarea>
      </div>
      <div class="submit-create-party">
        <button type="submit" class="submit-create-party-btn">สร้างปาร์ตี้</button>
    </div>

    </form>

</div>

  <!-- <div class="container" style="width: 35%; margin: 80px auto;" >
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Heading</label>
          <input type="text" class="form-control" id="heading" placeholder="your destination in game">
        </div>
        <div class="form-group">
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput2">In Game Name</label>
          <input type="text" class="form-control" id="ingamename" placeholder="neroswords">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select your party number</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date">Appointment date</label>
          <input type="date" id="date" />
        </div>
        <div class="form-group">
          <label for="date">Appointment time</label>
          <input type="time" id="time" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Other Description(please tell your server if have more than one)</label>
          <textarea class="form-control" id="descteam" rows="3"></textarea>
        </div>
        <div class="simple-tags" id="container" data-simple-tags="overwatch,FPS"></div>
        <button type="submit" class="btn-outline-primary" style="float: right;">Create</button>
      </form>
  </div> -->


</body>

<%- include("patials/footer") %>

<script>
  var el = document.getElementById('container');
  new Tags(el);
</script>