<%- include("patials/header") %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create team</title>
  <link rel="stylesheet" href="/css/c_team.css">

  <!-- <link rel="stylesheet" href="/css/tag_demo.css"> -->
  <link rel="stylesheet" href="/css/tag_style.css">
  <script src="/js/script-min.js"></script>
  <script src="/js/tag_script.js"></script>

  <!-- <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script> -->

  <style>
    body {
      background-image: url('/image/witcher_3_wild_hunt_geralt.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
    }
</style>
</head>
    
<body>

<div class="create-news">
    <a href="/team" class="create-news_btn_close">
        <div class="create-news-icon-close"></div>
    </a>
    <div class="create-news_header">
        <h3 style="font-family: 'Kanit', sans-serif; color: gray;">สร้างปาร์ตี้</h3>
    </div>

    <form action="/team/create" method = 'POST' enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlInput1">ชื่อปาร์ตี้</label>
        <input type="text" class="form-control" id="party-name" placeholder="ใส่ชื่อปาร์ตี้" name="headline" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ชื่อเกม</label>
        <input type="text" class="form-control" id="party-game-name" placeholder="ใส่ชื่อเกม" name="game" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ประเภทเกม</label>
        <select class="game-type form-item form-control" id="game-type" name="type" required aria-placeholder="เลือกประเภทเกมส์" required>
          <option value="Survival">Survival</option>
          <option value="RPG">Role-Player Game (RPG)</option>
          <option value="Battle_Royal">Battle Royale</option>
          <option value="FPS">First Person Shooter (FPS)</option>
          <option value="MOBA">Multiplayer Online Battle Arena (MOBA)</option>
          <option value="Fighting">Fighting</option>
          <option value="Sports">Sports</option>
          <option value="Racing">Racing</option>
        </select>
      </div>
      <div class="form-group">
        <label for="img">แนบรูปภาพ:</label>
        <input type="file" id="party-img" name="image" accept="image/*">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">จำนวนสมาชิกในปาร์ตี้</label>
        <select class="form-control" id="party-member" name="max_number" required>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="date">วันที่นัดหมาย</label>
          <input type="date" id="party-date" name="appointment_date" required>
        </div>       
        <div class="form-group col-md-6">
          <label for="date">เวลานัดหมาย</label>
          <input type="time" id="party-time" name="appointment_time" required>
        </div>    
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">รายละเอียดเพิ่มเติม</label>
        <textarea class="form-control" id="descteam" rows="3" name="content" required></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">เพิ่มแท็ก: </label>
            <div class="simple-tags"
                id="containers" 
                data-simple-tags="Team">
            </div>
        </input>
      </div>
      <input type="hidden" name="tags" id="tags" value="">
      <span class="add-tag-remark">หมายเหตุ: กดปุ่ม space bar หรือ , (comma) เพื่อเป็นการเพิ่มแท็ก และคลิกที่ x เพื่อเป็นการลบแท็ก</span>
      <span class="profile-remark">*โปรดระบุแท็กให้เหมาะสมและชัดเจนเพื่อง่ายต่อการค้นหา</span>
      <div class="party-btn">
        <div class="submit-create-party">
          <button type="submit" class="submit-create-party-btn" onclick="c_tag(document.getElementById('containers').getAttribute('data-simple-tags'))">
            <i class="fas fa-users"></i>
            สร้างปาร์ตี้
          </button>
        </div>
      </div>
    </form>

  </div>

</body>

<%- include("patials/footer") %>

<script>
  // CKEDITOR.replace( 'content' );
  var el = document.getElementById('containers');
  new Tags(el);

  function c_tag(x){
        document.getElementById("tags").value = x;
    }
</script>