<%- include("patials/header") %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create team</title>
  <link rel="stylesheet" href="/css/c_team.css">

  <!-- <link rel="stylesheet" href="/css/tag_demo.css"> -->
  <link rel="stylesheet" href="/css/tag_style.css">
  <script src="/js/script-min.js"></script>
  <script src="/js/tag_script.js"></script>

  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
</head>
    
<body>

<div class="create-news">
    <a href="/" class="create-news_btn_close">
        <div class="create-news-icon-close"></div>
    </a>
    <div class="create-news_header">
        <h3 style="font-family: 'Kanit', sans-serif; color: gray;">สร้างปาร์ตี้</h3>
    </div>

    <form action="/team/create" method = 'POST' enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlInput1">ชื่อปาร์ตี้</label>
        <input type="text" class="form-control" id="party-name" placeholder="ใส่ชื่อปาร์ตี้" name="headline">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ชื่อเกม</label>
        <input type="text" class="form-control" id="party-game-name" placeholder="ใส่ชื่อเกม" name="game">
      </div>
      <div class="form-group">
        <label for="img">เลือกรูปภาพ:</label>
        <input type="file" id="party-img" name="image" accept="image/*">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">จำนวนสมาชิกในปาร์ตี้</label>
        <select class="form-control" id="party-member" name="max_number">
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="date">วันที่นัดหมาย</label>
          <input type="date" id="party-date" name="appointment_date">
        </div>       
        <div class="form-group col-md-6">
          <label for="date">เวลานัดหมาย</label>
          <input type="time" id="party-time" name="appointment_time">
        </div>    
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">คำอธิบายเพิ่มเติม</label>
        <textarea class="form-control" id="descteam" rows="3" name="content"></textarea>
      </div>
      <div class="simple-tags"
                id="containers" 
                data-simple-tags="Team">
            </div>
      <input type="hidden" name="tags" id="tags" value=""> 
      <div class="party-btn">
        <div class="submit-create-party">
          <button type="submit" class="submit-create-party-btn" onclick="c_tag(document.getElementById('containers').getAttribute('data-simple-tags'))">
            <svg class="bi bi-file-earmark-plus" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
              <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
            </svg>
            สร้างปาร์ตี้
          </button>
        </div>
      </div>
    </form>

  </div>

</body>

<%- include("patials/footer") %>

<script>
  CKEDITOR.replace( 'content' );
  var el = document.getElementById('containers');
  new Tags(el);

  function c_tag(x){
        document.getElementById("tags").value = x;
    }
</script>