<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team detail</title>
    <link rel="stylesheet" href="/css/team_detail.css">
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <h2 class="headline__name">ใส่ชื่อปาร์ตี้</h2>
          </header>
  
          <section class="box">
             <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="party-picture col-md-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <div class="entry__meta2">
                            <span class="entry__meta__count2">
                              <i class="fas fa-gamepad"></i>
                              <span>ใส่ชื่อเกม</span>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>

                    <div class="party-detail col-md-6">
                      <article class="entry">
                        <div class="entry__body">
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              หัวหน้าปาร์ตี้: 
                              <span class="party-detail-info">ใส่ชื่อหัวหน้าปาร์ตี้</span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              ชื่อในเกม: 
                              <span class="party-detail-info">ใส่ชื่อในเกมของหัวหน้าปาร์ตี้</span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              สมาชิกที่เข้าร่วม: 
                              <span class="party-detail-info">จำนวนสมาชิกที่เข้าร่วม / จำนวนสมาชิกทั้งหมด</span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              วันที่นัดหมาย: 
                              <span class="party-detail-info">2/06/2020</span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              เวลานัดหมาย: 
                              <span class="party-detail-info">21:00</span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              คำอธิบายเพิ่มเติม: 
                              <span class="party-detail-info">ใส่คำอธิบายเพิ่มเติม</span>
                            </span>
                          </div>
                          <div class="entry__meta3">
                            <button class="entry__meta__posted1">
                                <i class="fas fa-sign-in-alt"></i>
                                เข้าร่วมปาร์ตี้
                              </button>
                            <button class="entry__meta__posted2">
                              <i class="fas fa-sign-out-alt"></i>
                              ออกจากปาร์ตี้
                            </button>
                            <button class="entry__meta__posted3">
                              <i class="far fa-trash-alt"></i>
                              ลบปาร์ตี้
                            </button>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
             </div>
         </section>

         <div class="content__comment order-2 order-lg-3">
            <section class="party-comment-box box">
                <header class="party-comment-header box__header">
                    <h3>
                        <i class="fas fa-comments fa-sm text-muted mr-1"></i>
                        ช่องสนทนา
                    </h3>
                </header>
                <div class="box__body">
                    <textarea rows="4" cols="50" name="comment" form="usrform">เริ่มแชทกับพวกเขาเลย!...</textarea>
                    <div class="submit-comment">
                        <button type="button" class="submit-comment-btn">ส่ง</button>
                    </div> 
                </div>
            </section>
        </div>

        </div>
    </main>
</body>
</html>

<%- include("patials/footer") %>

