<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team detail</title>
    <link rel="stylesheet" href="/css/result.css">
    <!-- <link rel="stylesheet" href="/css/team_detail.css"> -->
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <div class="row">
              <div class="col-md-9 col-sm-12">
                <h4 class="headline__name">
                  คำที่ค้นหา:
                  <span><%= result %></span>
              </h4>
              <p class="headline__found">
                  ผลการค้นหาพบ <span>24</span> รายการ
              </p>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="dropdown">
                  <button class="categoly-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ประเภทที่ต้องการค้นหา
                  </button>
                  <div class="dropdown-menu dropdown-menu-style" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">ข่าวเกม</a>
                    <a class="dropdown-item" href="#">รีวิวเกม</a>
                    <a class="dropdown-item" href="#">เกมมาแรง</a>
                    <a class="dropdown-item" href="#">ชุมชน / กระทู้</a>
                    <a class="dropdown-item" href="#">หาปาร์ตี้เล่นเกม</a>
                  </div>
                </div>
              </div>
            </div>
          </header>
  
          <section class="box">
             <div class="row">
                        <!-- ข่าวที่เกี่ยวข้อง -->
                        <div class="col-12" id="search-news">
                            <header class="box_header">
                                <h6>
                                    <i class="far fa-newspaper"></i>
                                    ข่าวที่เกี่ยวข้อง
                                </h6>
                            </header>
                            <div class="row">
                                <div class="col-md-3 order-1">
                                    <article class="entry entry--hor-sm-only">
                                        <figure class="entry__thumb entry__thumb--zoom">
                                          <a href="">
                                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                          </a>
                                        </figure>
                                        <div class="entry__body">
                                          <h4 class="entry__title">
                                            <a href="">
                                              ใส่พาดหัวข่าว
                                            </a>
                                          </h4>
                                          <div class="entry__meta">
                                            <span class="entry__meta__count">
                                              <i class="fas fa-eye"></i>
                                              ใส่ยอดวิว
                                            </span>
                                            <span class="entry__meta__posted">
                                              <i class="far fa-clock"></i>
                                              ใส่วันที่โพสต์
                                            </span>
                                          </div>
                                        </div>
                                      </article>
                                </div>
                                <div class="col-md-3 order-2">
                                    <article class="entry entry--hor-sm-only">
                                        <figure class="entry__thumb entry__thumb--zoom">
                                          <a href="">
                                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                          </a>
                                        </figure>
                                        <div class="entry__body">
                                          <h4 class="entry__title">
                                            <a href="">
                                              ใส่พาดหัวข่าว
                                            </a>
                                          </h4>
                                          <div class="entry__meta">
                                            <span class="entry__meta__count">
                                              <i class="fas fa-eye"></i>
                                              ใส่ยอดวิว
                                            </span>
                                            <span class="entry__meta__posted">
                                              <i class="far fa-clock"></i>
                                              ใส่วันที่โพสต์
                                            </span>
                                          </div>
                                        </div>
                                      </article>
                                </div>
                                <div class="col-md-3 order-3">
                                    <article class="entry entry--hor-sm-only">
                                        <figure class="entry__thumb entry__thumb--zoom">
                                          <a href="">
                                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                          </a>
                                        </figure>
                                        <div class="entry__body">
                                          <h4 class="entry__title">
                                            <a href="">
                                              ใส่พาดหัวข่าว
                                            </a>
                                          </h4>
                                          <div class="entry__meta">
                                            <span class="entry__meta__count">
                                              <i class="fas fa-eye"></i>
                                              ใส่ยอดวิว
                                            </span>
                                            <span class="entry__meta__posted">
                                              <i class="far fa-clock"></i>
                                              ใส่วันที่โพสต์
                                            </span>
                                          </div>
                                        </div>
                                      </article>
                                </div>
                            </div>
                            <div class="add-view">
                                <button href="#" class="scrollto-add">
                                  โหลดเพิ่ม
                                  <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <!-- ชุมชน / กระทู้ ที่เกี่ยวข้อง -->
                        <div class="col-12" id="search-news">
                            <header class="box_header">
                                <h6>
                                    <i class="fas fa-comments"></i>
                                    ชุมชน / กระทู้ ที่เกี่ยวข้อง
                                </h6>
                            </header>
                            <div class="row">
                              <div class="col-md-3 order-1">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="">
                                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="">
                                            ใส่พาดหัวข่าว
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            ใส่ยอดวิว
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            ใส่วันที่โพสต์
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                              <div class="col-md-3 order-2">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="">
                                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="">
                                            ใส่พาดหัวข่าว
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            ใส่ยอดวิว
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            ใส่วันที่โพสต์
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                              <div class="col-md-3 order-3">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="">
                                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="">
                                            ใส่พาดหัวข่าว
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            ใส่ยอดวิว
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            ใส่วันที่โพสต์
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                          </div>
                            <div class="add-view">
                                <button href="#" class="scrollto-add">
                                  โหลดเพิ่ม
                                  <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <!-- ปาร์ตี้ที่เกี่ยวข้อง -->
                        <div class="col-12" id="search-news">
                          <header class="box_header">
                              <h6>
                                <i class="fas fa-users"></i>
                                  ปาร์ตี้ที่เกี่ยวข้อง
                              </h6>
                          </header>
                          <div class="row">
                              <div class="col-md-3 order-1">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="">
                                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="">
                                            ใส่พาดหัวข่าว
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            ใส่ยอดวิว
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            ใส่วันที่โพสต์
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                              <div class="col-md-3 order-2">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="">
                                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="">
                                            ใส่พาดหัวข่าว
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            ใส่ยอดวิว
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            ใส่วันที่โพสต์
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                              <div class="col-md-3 order-3">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="">
                                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="">
                                            ใส่พาดหัวข่าว
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            ใส่ยอดวิว
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            ใส่วันที่โพสต์
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                              <div class="col-md-3 order-3">
                                <article class="entry entry--hor-sm-only">
                                    <figure class="entry__thumb entry__thumb--zoom">
                                      <a href="">
                                        <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                      </a>
                                    </figure>
                                    <div class="entry__body">
                                      <h4 class="entry__title">
                                        <a href="">
                                          ใส่พาดหัวข่าว
                                        </a>
                                      </h4>
                                      <div class="entry__meta">
                                        <span class="entry__meta__count">
                                          <i class="fas fa-eye"></i>
                                          ใส่ยอดวิว
                                        </span>
                                        <span class="entry__meta__posted">
                                          <i class="far fa-clock"></i>
                                          ใส่วันที่โพสต์
                                        </span>
                                      </div>
                                    </div>
                                  </article>
                            </div>
                          </div>
                          <div class="add-view">
                              <button href="#" class="scrollto-add">
                                โหลดเพิ่ม
                                <i class="fas fa-plus"></i>
                              </button>
                          </div>
                      </div>
                      <!-- รีวิวเกม -->
                      <div class="col-md-6" id="search-news">
                        <header class="box_header">
                            <h6>
                              <i class="fas fa-star"></i>
                                รีวิวเกม
                            </h6>
                        </header>
                        <div class="row">
                            <div class="col-12 order-1">
                                <article class="entry entry--hor-sm-only">
                                    <figure class="entry__thumb entry__thumb--zoom">
                                      <a href="">
                                        <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                      </a>
                                    </figure>
                                    <div class="entry__body">
                                      <h4 class="entry__title">
                                        <a href="">
                                          ใส่พาดหัวข่าว
                                        </a>
                                      </h4>
                                      <div class="entry__meta">
                                        <span class="entry__meta__count">
                                          <i class="fas fa-eye"></i>
                                          ใส่ยอดวิว
                                        </span>
                                        <span class="entry__meta__posted">
                                          <i class="far fa-clock"></i>
                                          ใส่วันที่โพสต์
                                        </span>
                                      </div>
                                    </div>
                                  </article>
                            </div>
                        </div>
                    </div>

                    <!-- เกมมาแรง -->
                    <div class="col-md-6" id="search-news">
                        <header class="box_header">
                            <h6>
                              <i class="fas fa-fire"></i>
                                เกมมาแรง
                            </h6>
                        </header>
                        <div class="row">
                            <div class="col-12 order-1">
                                <article class="entry entry--hor-sm-only">
                                    <figure class="entry__thumb entry__thumb--zoom">
                                      <a href="">
                                        <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                                      </a>
                                    </figure>
                                    <div class="entry__body">
                                      <h4 class="entry__title">
                                        <a href="">
                                          ใส่พาดหัวข่าว
                                        </a>
                                      </h4>
                                      <div class="entry__meta">
                                        <span class="entry__meta__count">
                                          <i class="fas fa-eye"></i>
                                          ใส่ยอดวิว
                                        </span>
                                        <span class="entry__meta__posted">
                                          <i class="far fa-clock"></i>
                                          ใส่วันที่โพสต์
                                        </span>
                                      </div>
                                    </div>
                                  </article>
                                </div>
                              </div>
                            </div>
                      
                      </div>
                    </div>
                 </div>
              </section>
              
      </div>
    </main>
</body>
</html>

<%- include("patials/footer") %>

