 <%- include("patials/header") %>

<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/css/home.css">

  <script src="/js/home.js" defer></script>

  <!-- <script type="text/javascript" src="/js/home.js"></script> -->
</head>

<body>

  <main class="main-body" role="main ">

      <!-- ข่าว highlight -->
      <section class="highlight">
        <div id="main-highlight" class="hightlight-box">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#">
                  <img src="/image/slide1.JPG" class="d-block w-100" >
                  <div class="carousel-caption d-sm-block">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img src="/image/slide2.JPG" class="d-block w-100" >
                  <div class="carousel-caption d-sm-block">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img src="/image/slide3.JPG" class="d-block w-100" >
                  <div class="carousel-caption d-sm-block">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img src="/image/slide4.JPG" class="d-block w-100" >
                  <div class="carousel-caption d-sm-block">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>    

      <!-- ข่าวล่าสุดจากเกมทุกประเภท -->
      <div id="news-section" style="position: relative;">
        <header class="headline headline-sticky">
          <h2 class="headline__name">ข่าวล่าสุด จากเกมทุกประเภท</h2>
          <hr>
        </header>

        <!-- ข่าวเกม survival -->
        <section class="box">
            <div class="row">
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Survival</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              
              <!-- ข่าวเกม RPG -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Role-Player Game (RPG)</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
    
              <!-- ข่าวเกม  BR -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">ฺBattle Royale</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
    
              <!-- ช่าวเกม FPS -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">First Person Shooter (FPS)</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
    
              <!-- ข่าวเกม MOBA -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Multiplayer Online Battle Arena</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
    
              <!-- ข่าวเกม Fighting -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Fighting</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
    
              <!-- ข่าวเกม sport -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Sports</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
    
              <!-- ข่าวเกม racing -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Racing</a>
                  </h4>
                  <a href="#" class="scrollto">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            ใส่พาดหัวข่าว
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
          </div>
        </section>
      </div>
    
      <!-- ข่าวเกม survival ทั้งหมด-->
      <section class="box news-box">
        <div class="row">
          <div class="col-12">
            <header class="box_header">
              <h4>
                <a href="#">
                  <img src="https://img.icons8.com/emoji/36/000000/palm-tree-emoji.png"/>
                  ข่าวเกม <span>Survival</span>
                </a>
              </h4>
              <a href="#" class="scrollto survival-news">
                ดูข่าวทั้งหมด
                <i class="fas fa-angle-right ml-1"></i>
              </a>
            </header>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <article class="entry">
                  <figure class="entry__thumb entry__thumb--zoom">
                    <a href="">
                      <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                    </a>
                  </figure>
                  <div class="entry__body">
                    <h4 class="entry__title">
                      <a href="">
                        ใส่พาดหัวข่าว
                      </a>
                    </h4>
                    <div class="entry__meta">
                      <span class="entry__meta__count">
                        <i class="fas fa-eye"></i>
                        ใส่ยอดวิว
                      </span>
                      <span class="entry__meta__posted">
                        <i class="far fa-clock"></i>
                        ใส่วันที่โพสต์
                      </span>
                    </div>
                  </div>
                </article>
              </div>
             </div>
            </div>
           </div>   
           <header class="add-view">
              <button href="#" class="scrollto-add survival-news">
                โหลดเพิ่ม
                <i class="fas fa-plus"></i>
              </button>
           </header>
      </section>

            <!-- ข่าวเกม Role-Player Game (RPG) ทั้งหมด-->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                        <img src="https://img.icons8.com/nolan/36/sword.png"/>
                        ข่าวเกม <span>Role-Player Game (RPG)</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto rpg-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add rpg-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>
 
            <!-- ข่าวเกม Battle Royale ทั้งหมด-->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                        <img src="https://img.icons8.com/cotton/36/000000/parachute.png"/>
                        ข่าวเกม <span>Battle Royale</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto br-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add br-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>    

            <!-- ข่าวเกม First Person Shooter (FPS) ทั้งหมด -->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                        <img src="https://img.icons8.com/office/36/000000/famas-f1.png"/>
                        ข่าวเกม <span>First Person Shooter (FPS)</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto fps-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add fps-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>             

            <!-- ข่าวเกม Multiplayer Online Battle Arena ทั้งหมด -->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                      <img src="https://img.icons8.com/cotton/36/000000/castle.png"/>
                        ข่าวเกม <span>Multiplayer Online Battle Arena (MOBA)</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto moba-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add moba-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>
          
            <!-- ข่าวเกม Fighting ทั้งหมด -->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                      <img src="https://img.icons8.com/plasticine/36/000000/boxing.png"/>
                        ข่าวเกม <span>Fighting</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto fighting-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add fighting-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>  

            <!-- ข่าวเกม Sports ทั้งหมด -->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                      <img src="https://img.icons8.com/cotton/36/000000/football-ball.png"/>
                        ข่าวเกม <span>Sports</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto sport-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add sport-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>
            
            <!-- ข่าวเกม racing ทั้งหมด -->
            <section class="box news-box">
              <div class="row">
                <div class="col-12">
                  <header class="box_header">
                    <h4>
                      <a href="#">
                      <img src="https://img.icons8.com/emoji/36/000000/racing-car.png"/>
                        ข่าวเกม <span>Racing</span>
                      </a>
                    </h4>
                    <a href="#" class="scrollto racing-news">
                      ดูข่าวทั้งหมด
                      <i class="fas fa-angle-right ml-1"></i>
                    </a>
                  </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              ใส่พาดหัวข่าว
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                </div> 
              </div>
             </div> 
              <header class="add-view">
                <button href="#" class="scrollto-add racing-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>  
      
      <!-- รีวิว       -->
      <div id="review-section">
        <header class="headline headline-sticky">
          <h2 class="headline__name">รีวิวเกม</h2>
          <hr>
        </header>
    
        <section class="box">
          <header class="box_header">
            <h4>
              <a href="#">
                <img src="https://img.icons8.com/officel/28/000000/pixel-star.png"/>
                รีวิวล่าสุด
              </a>
            </h4>
            <a href="#" class="scrollto sport-news">
              ดูรีวิวทั้งหมด
              <i class="fas fa-angle-right ml-1"></i>
            </a>
          </header>
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <article class="entry">
                    <figure class="entry__thumb entry__thumb--zoom">
                      <a href="">
                        <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                      </a>
                    </figure>
                    <div class="entry__body">
                      <h4 class="entry__title">
                        <a href="">
                          รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด
                        </a>
                      </h4>
                      <p>
                        เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...
                        <a href="#">
                          อ่านต่อ >>
                        </a>
                      </p>
                      <div class="entry__meta">
                        <span class="entry__meta__count">
                          <i class="fas fa-eye"></i>
                          ใส่ยอดวิว
                        </span>
                        <span class="entry__meta__posted">
                          <i class="far fa-clock"></i>
                          ใส่วันที่โพสต์
                        </span>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <header class="add-view">
                <button href="#" class="scrollto-add sport-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>
        </div> 
          
        <!-- กระทู้ -->
        <div id="commu-section">
          <header class="headline headline-sticky">
            <h2 class="headline__name">ชุมชน / กระทู้</h2>
            <hr>
          </header>
      
          <section class="box">
            <header class="box_header">
              <h4>
                <a href="#">
                  <img src="https://img.icons8.com/dusk/36/000000/speech-bubble-with-dots.png"/>
                  กระทู้ล่าสุด
                </a>
              </h4>
              <a href="#" class="scrollto rpg-news">
                ดูกระทู้ทั้งหมด
                <i class="fas fa-angle-right ml-1"></i>
              </a>
            </header>
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="">
                          <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="">
                            รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด
                          </a>
                        </h4>
                        <p>
                          เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...
                          <a href="#">
                            อ่านต่อ >>
                          </a>
                        </p>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <header class="add-view">
                  <button href="#" class="scrollto-add rpg-news">
                    โหลดเพิ่ม
                    <i class="fas fa-plus"></i>
                  </button>
                </header>
              </section>
          </div> 

          <!-- ปารร์ตี้ -->
          <div id="party-section">
            <header class="headline headline-sticky">
              <h2 class="headline__name">หาปาร์ตี้เล่นเกม</h2>
              <hr>
            </header>
        
            <section class="box">
              <header class="box_header">
                <h4>
                  <a href="#">
                    <img src="https://img.icons8.com/dusk/36/000000/crowd.png"/>
                    ปาร์ตี้ล่าสุด
                  </a>
                </h4>
                <a href="#" class="scrollto moba-news">
                  ดูปาร์ตี้ทั้งหมด
                  <i class="fas fa-angle-right ml-1"></i>
                </a>
              </header>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="">
                              รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด
                            </a>
                          </h4>
                          <p>
                            เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...
                            <a href="#">
                              อ่านต่อ >>
                            </a>
                          </p>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              ใส่ยอดวิว
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              ใส่วันที่โพสต์
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                  <header class="add-view">
                    <button href="#" class="scrollto-add moba-news">
                      โหลดเพิ่ม
                      <i class="fas fa-plus"></i>
                    </button>
                  </header>
                </section>
            </div>           
  </main>
      

</body>
</html>

 <%- include("patials/footer") %>