<%- include("patials/header") %>

<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/home.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <section class="add-highlight"></section>
      <div class="add-highlight_area">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/image/slide1.JPG" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="/image/slide2.JPG" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="/image/slide3.JPG" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="/image/slide4.jpg" class="d-block w-100" >
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  
  
  <div class="all-recent-game-news" style="position: relative;">
    <header class="headline-sticky">
      <h2 class="headline__name">ข่าวล่าสุด จากเกมทุกประเภท</h2>
      <hr>
    </header>

    <section class="box">
        <div class="row">
          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Survival</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Role-Player Game (RPG)</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Battle Royale</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">First Person Shooter (FPS)</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Multiplayer Online Player Arena (MOBA)</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Fighting</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Sports</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <header class="box_header">
              <h4>
                <a href="#">Racing</a>
              </h4>
              <a href="#" class="btn-outline-scrollto">
                ดูข่าวทั้งหมด
                <svg class="bi bi-arrow-down-short" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
              </a>
            </header>
            <div class="row">
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card" style="width: 17rem;">
                  <a href="">
                    <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </section>
  </div>

  <div id="review-section">
    <header class="headline-sticky ">
      <h2 class="headline__name">รีวิวเกม</h2>
      <hr>
    </header>

    <section class="box">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 17rem;">
              <a href="">
                <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top">
              </a>
              <div class="card-body">
                <a href=""class="card-text">รีวิว KartRider Rush+ ไม่ซิ่งก็ซี้เกมมือถือแนวแข่งรถสายแบ๊วใหม่ล่าสุด</a>
                <p>เปิดสนามให้ซิ่งรถแข่งกันแล้ววันนี้เมื่อทาง Nexon ผู้ให้บริการเกมชั้นนำของประเทศไทยได้มีการเปิดตัวเกมใหม่ KartRider Rush+...</p>
              </div>
            </div>
          </div>
        </div>

        <header class="box_header">
          <p></p>
          <a href="#" class="btn-outline-scrollto">
            ดูเพิ่มเติม
            <svg class="bi bi-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
            </svg>
          </a>
        </header>
      </div>
    </section>
  </div>
  
  <div id="hot-game-section">
    <header class="headline-sticky ">
      <h2 class="headline__name">เกมมาแรง</h2>
      <hr>
    </header>
    <!-- circle slider picture  -->
  </div>
    



</body>
</html>


<%- include("patials/footer") %>