<%- include("patials/header") %>
<head>
    <title>Create team</title>
    <!-- simple-tags CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- simple-tags JS -->
    <script src="js/script.js"></script>
    
	<!-- Demo CSS -->
	<link rel="stylesheet" href="css/demo.css">
</head>
    
<body>
    <div class="container" style="width: 35%; margin: 80px auto;" >
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Heading</label>
          <input type="text" class="form-control" id="heading" placeholder="your destination in game">
        </div>
        <div class="form-group">
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*">
        </div>
        <div class="form-group">
          <label for="video">video link(if you have)</label>
          <input type="text" id="v_link" placeholder="https://www.youtube.com/watch?v=rUAuEo3t0-o" style="width: 100%;"/>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="descteam" style="height: 300px;"></textarea>
        </div>
        <div class="simple-tags" id="container" data-simple-tags="Overwatch, FPS"></div>
        <button type="submit" class="btn-outline-primary" style="float: right;">Create</button>
      </form>
    </div>
</body>


<%- include("patials/footer") %>

<script>
  var el = document.getElementById('container');
  new Tags(el);
</script>

