<%- include("patials/header") %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acception</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="acception.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div>
        <button type="button" class="login_btn_close">
            <div class="login-icon-close"></div>
        </button>
        <h3>เงื่อนไขและข้อตกลง</h3>
        <h4>เงื่อนไข</h4>
        <ul>
            <li>
                เว็บไซท์ Instagame (http://www.Instagame.net) ถูกสร้างขึ้นมาเพื่อเป็นจุดศูนย์กลางและแหล่งรวบรวมข้อมูล กรุณาให้เกียรติและปฏิบัติกับเพื่อนร่วมสังคมเช่นเดียวกับที่ท่านปฏิบัติต่อตนเอง 
                ทั้งนี้เพื่อความเรียบร้อยและ เพื่อสังคมที่น่าอยู่ สังคมที่ก่อประโยชน์สูงสุดต่อสมาชิกและสมาชิกส่วนรวมของเรา
            </li> 
            <li>
                ข้อมูลที่ท่านกรอกเพื่อสมัครสมาชิกจะต้องเป็นความจริงครบถ้วนและใหม่ล่าสุด เพื่อประโยชน์ของตัวท่านเอง เช่น ในกรณีที่เวบไซต์ได้จัดกิจกรรมขึ้นมา เราจะสามารถจัดส่งของรางวัลไปยังที่อยู่ที่ถูกต้องของท่านได้ 
            </li>        
            <li>
                ท่านต้องมีอายุเกิน 18 ปีบริบูรณ์ จึงสามารถตัดสินใจสมัครขอใช้บริการด้วยตัวท่านเอง หากท่านอายุต่ำกว่านั้น ท่านจะต้องปรึกษาและขออนุญาตผู้ปกครองของท่าน ก่อนสมัครสมาชิก Instagame
            </li>
            <li>
                ขอสงวนสิทธิ์ไม่ให้ใช้คำเหล่านี้ในการตั้งชื่อผู้ใช้ Displayname(นามแฝง) หรือ ID เช่น webmaster, web editor , editor, hostmaster, admin, administrator, 
                customer service, moderator, game master, GM, Staff, StaffEditor, PostMaster หรือคำอื่นๆ 
                ที่ระบุว่าเป็นผู้ดูแลระบบหรือทีมงานของ Online Station ทั้งนี้เพื่อป้องกันการเข้าใจผิด และหลอกลวงว่าเป็นหนึ่งในทีมงาน Online Station ถ้าท่านสงสัยว่าชื่อที่ตนเองสมัครสามารถใช้ได้หรือไม่
                สามารถติดต่อสอบถามทีมงานก่อนขั้นตอนการสมัครได้ มิเช่นถ้าเปิดปัญหา ID ของท่านจะถูกลบออกจากระบบ
            </li> 
            <li>
                หากท่านไม่ทำการล็อกอินเพื่อใช้งานเป็นครั้งแรกหลังจากที่ท่านสมัครสมาชิกภายใน 60 วัน ความเป็นสมาชิกของท่านจะสิ้นสุดลงและ ในระหว่างการใช้งานหากท่านไม่ทำการล็อกอินเพื่อใช้งานติดต่อกันนาน 60 วัน นับจากวันที่ท่านใช้งานครั้งสุดท้าย ความเป็นสมาชิกของท่านจะสิ้นสุดลง 
                เพราะถือว่าท่านไม่ต้องการใช้บริการแล้ว หากท่านต้องการใช้บริการอีก ท่านจะต้องดำเนินการสมัครสมาชิกใหม่
            </li> 
            <li>
                เพื่อความปลอดภัย ท่านต้องรักษาชื่อผู้ใช้ รหัสผ่านและ ข้อมูลส่วนตัวให้ดี โดยไม่บอกให้ผู้อื่นทราบ
            </li>
            <li>
                Instagame ขอสงวนสิทธิ์ในการให้บริการและหยุดให้บริการเมื่อใดก็ได้ ตามแต่ความ เหมาะสม โดยมิต้องแจ้งให้ท่านทราบล่วงหน้า
            </li>
            <li>
                ท่านจะต้องไม่ส่งจดหมายอันเข้าข่ายการ SpamMail เป็นการรบกวนผู้อื่น และ/หรือ สมาชิกด้วยกันเอง ตลอดจนการกระทำใดๆ 
                อันเป็นการกระทำผิดกฏหมาย ของประเทศไทยหรือประเทศผู้รับจดหมายนั้น หากมีผู้เสียหาย ท่านจะต้องเป็นผู้รับผิดชอบกับความผิดนั้นแต่เพียงผู้เดียว
            </li>
            <li>
                ทีมงาน Instagame ไม่ขอรับประกันความเสียหายของฐานข้อมูล และ/หรือ ภาพต่างๆ ที่เกิดจากการให้บริการ ซึ่งทางเว็บไซท์ Instagame อาจจะไม่สามารถให้บริการได้ตลอด 24 ชั่วโมงอย่างแท้จริง ซึ่งสาเหตุอาจเกิดจาก ผู้ให้บริการการเชื่อมต่ออินเทอร์เน็ตของท่านเอง หรือเกิดจากการเชื่อมต่อของระบบเครือข่ายของ Instagame เอง อย่างไรก็ดี 
                ในสภาวะการทำงานปกติของระบบ Instagame ขอรับประกันว่าจะพยายามไม่ให้เกิดความเสียหายและ ปัญหาความปลอดภัยใดๆ
            </li>
            <li>
                ตลอดการใช้งานท่านจะต้องให้ความร่วมมือตามกฎระเบียบข้อบังคับ (Our Rules) ของ Instagame
            </li>
            <li>
                หากทีมงานพบว่าท่านละเมิดเงื่อนไขที่ได้ตั้งไว้ Instagame ขอสงวนสิทธิ์ในการระงับ ID ของท่าน โดยไม่ต้องแจ้งให้ทราบล่วงหน้า
            </li>
            <li>
                ข้อมูลและบทความที่เกิดขึ้นจากทีมงานของ Instagame นั้นถือเป็นลิขสิทธิ์ของ Instagame
                 เพียงแต่ผู้เดียว หากต้องการนำไปส่วนหนึ่งใดไปเผยแพร่ กรุณาติดต่อทางทีมงานเพื่อขออนุญาตก่อน
            </li>
            <li>
                ทีมงาน Instagame ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไขต่างๆ ภายในเว็บไซท์ โดยจะแจ้งให้สมาชิกทราบภายหลัง
            </li>
        </ul> <br>
        <h4>กฏระเบียบข้อบังคับ</h4>
        <p>ทีมงานขอความร่วมมือให้สมาชิกของ Future Gamer(Instagame) ทุกท่านโปรดอ่านข้อตกลงในการใช้งานอย่างละเอียดและ 
         ปฏิบัติตามโดยเคร่งครัด เพื่อให้การแสดงความคิดเห็นเป็นไปด้วยความเรียบร้อย และก่อประโยชน์สูงสุดต่อสมาชิกและสังคมส่วนรวม</p>
        <ul class="rule">
            <li>
                ห้ามลงข้อความ รูปภาพ หรือ link ที่ขัดต่อศีลธรรม จรรยา วัฒนธรรม ขนบธรรมเนียมและ 
                ประเพณีอันดีงามของไทย หรือเป็นการพาดพิง เกี่ยวกับเรื่องเชื้อชาติ ศาสนา และสถาบันพระมหากษัตริย์
            </li>
            <li>
                ห้ามใช้คำไม่สุภาพ หยาบคาย หรือส่อความหมายไปในทางที่ไม่เหมาะสม ในการลงข้อความแสดงความคิดเห็นต่างๆ 
                ทั้งนี้รวมถึง รูปภาพ หรือ link ที่ส่อไปในทาง ลามก อนาจาร ด้วยเช่นเดียวกัน
            </li>
            <li>
                ห้ามลงข้อความ รูปภาพ หรือ link ที่เป็นการแสดงความจำนงที่จะทำการซื้อขาย 
                แลกเปลี่ยน ID ตัวละคร หรือ item ต่างๆ ของเกมใดเกมหนึ่งภายในเวบไซต์
            </li>
            <li>
                ห้ามลงข้อความ รูปภาพ หรือ link ที่อาจก่อให้เกิดการแตกแยก หรือทำให้เกิดความเสียหายต่อตัวบุคคลหรือองค์กรใดๆ (ทั้งนี้รวมถึงข้อความที่ส่อความหมายไปในทางหมิ่นประมาท เจ้าหน้าที่ และผู้เล่นคนอื่นๆ โดยไร้เหตุผลอันสมควรรองรับ และรวมถึงการใช้ชื่อ หรือนามแฝงอันเป็นชื่อจริงของผู้อื่น
                 โดยมีเจตนาทำให้สาธารณชนเข้าใจผิด และเจ้าของชื่อผู้นั้นได้รับความเสียหาย หรือเสื่อมเสียชื่อเสียง
            </li>
            <li>
                ไม่อนุญาตให้ลงข้อความ รูปภาพ หรือ link ใดๆ ที่สื่อถึงการโฆษณาสินค้าต่างๆ (ทั้งนี้รวมถึงห้ามไม่ให้ลงข้อความแสดงความความคิดเห็น หรือรูปภาพใดๆ
                 ที่เป็นการประชาสัมพันธ์ หรือโฆษณาหรือสินค้าอื่นๆ) ที่ไม่เกี่ยวกับแนวทางการให้บริการของเวบไซต์
            </li>
            <li>
                ห้ามแอบอ้างเป็นเจ้าหน้าที่ หรือเป็นผู้มีความเกี่ยวข้องหรือ ทำการแพร่กระจายข้อมูล และข้อมูลส่วนตัวใดๆ ของทีมงาน Instagame
            <li>
                สำหรับการตั้งกระทู้ หรือการโพสต์ข้อความตอบ ผู้เล่นควรทำการตั้งกระทู้ให้ตรงกับหมวดที่กำหนดไว้ และไม่ควรตั้งกระทู้ที่ไม่มีสาระใดๆ เช่น กระทู้ที่ดักให้ผู้อื่นเข้ามาตอบโดยที่ไม่มีประเด็นอะไรเป็นสำคัญ และไม่ควรทำการตั้งกระทู้ หรือทำการโพสต์ข้อความตอบ เพื่อเจตนา ที่เรียกว่าเป็นการ 'ขุด' หรือ 'ปั่น' หรือนับอันดับกระทู้ ไม่ว่ากรณีใดๆทั้งสิ้น ทางเจ้าหน้าที่ผู้ดูแลระบบกระดานข่าว ขอสงวนสิทธิในการลบข้อความที่มีขัดต่อข้อตกลงดังกล่าวออกจากระบบ และยกเลิกการเป็นสมาชิก OS Network ของผู้ลงข้อความนั้นๆ ทันทีที่ตรวจพบ โดยมิต้องแจ้งให้ทราบล่วงหน้า
                 และทางทีมงานขอสงวนสิทธิในการแก้ไข เพิ่มเติม หรือทำการเปลี่ยนแปลง กฎ กติกา และ มารยาทในการใช้ IG Network ได้ตามความเหมาะสม
            </li>
        </ul>
        <p class="remark">* หากมีการกระทำใดที่ไม่เป็นไปตามเงื่อนไขหรือกฎระเบียบข้อบังคับตามที่ได้ระบุมาในเบื้องต้น และทำให้เกิดความเสียหายขึ้นข้าพเจ้าขอยอมรับในผลของการกระทำนั้น ๆ โดยไม่มีส่วนเกี่ยวข้องกับทางเว็บไซต์</p>
        <p style="text-align: center;">
            <button type="button" class="act-btn" >
                <a href="/Sign_up" style="color:black;">
                    <img src="/image/alert.svg" style="width: 14px; height: 14px; overflow: visible;">
                    ตกลง
                </a>
            </button>
            
        </p>
    </div>
</body>
</html>
<%- include("patials/footer") %>