<%- include("patials/header") %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/SignUp.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
</head>

<body>
    <div class="signup-modal-content">
        <div class="login">
            <button type="button" class="login_btn_close">
                <div class="login-icon-close"></div>
            </button>
            <div class="login_header">
                <h4 style="font-family: 'Kanit', sans-serif; color: gray;">สมัครสมาชิกเว็บ 
                    <span style="font-family: 'Roboto', sans-serif; color: lightseagreen;">Instagame</span>
                </h4>
            </div>
            <form method="POST" class="form-hor" id="fLogin" name="fLogin">
                <div>
                    <label for="email" class="label-form-title">อีเมล์</label>
                    <div class="form-inside">
                        <input type="email" class="form-item" id="email" placeholder="ใส่อีเมล์" required>
                    </div>
                </div>
                <div>
                    <label for="password" class="label-form-title">รหัสผ่าน</label>
                    <div class="form-inside">
                        <input type="password" class="form-item" id="email" placeholder="ใส่รหัสผ่าน" required>
                    </div>
                </div>
                <div>
                    <label for="confirm_password" class="label-form-title">ยืนยันรหัสผ่าน</label>
                    <div class="form-inside">
                        <input type="password" class="form-item" id="email" placeholder="ใส่ยืนยันรหัสผ่าน" required >
                    </div>
                </div>
                <div>
                    <label for="penname" class="label-form-title">ชื่อนามแฝง</label>
                    <div class="form-inside">
                        <input type="text" class="form-item" id="email" placeholder="ใส่ชื่อนามแฝง" required >
                    </div>
                </div>
                <div class="form-inside">
                    <div class="checkbox">
                        <input type="checkbox" id="accept">
                        <label for="accept">
                            ฉันได้อ่านและยอมรับ
                            <a href="acception.html" title="ข้อตกลงการใช้งาน">ข้อตกลงการใช้งาน</a>
                        </label>
                    </div>
                </div>
                
                <div class="submit-login">
                    <input type="submit" class="submit-login-btn" value="สมัครสมาชิก">
                    <button type="button" class="fb-login-btn">
                        <img src="/image/facebook icon.svg" class="fb-icon-login">
                        สมัครสมาชิกด้วย Facebook
                    </button>
                    <button type="button" class="gg-login-btn">
                        <img src="/image/google icon.svg" class="gg-icon-login">
                        สมัครสมาชิกด้วย Google
                    </button>
                </div>
            </form>
    
        </div>
    </div>

</body>
</html>
<%- include("patials/footer") %>