<%- include("patials/header") %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="/css/SignUp.css">

    <style>
        body {
          background-image: url('/image/tom_clancys_rainbow_six_siege.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <div class="signup-modal-content">
        <div class="login">
            <a href="/">
                <button type="button" class="login_btn_close">
                    <div class="login-icon-close"></div>
                </button>
               </a> 
            <div class="login_header">
                <h4 style="font-family: 'Kanit', sans-serif; color: gray;">สมัครสมาชิกเว็บ 
                    <span style="font-family: 'Roboto', sans-serif; color: lightseagreen;">Instagame</span>
                </h4>
            </div>
            <form method="POST" class="form-hor" id="fLogin" name="fLogin" action="/Sign_up" enctype="multipart/form-data">
                <div>
                    <label for="ImageUpload" class="label-form-title">
                        แนบรูปภาพ
                        <!-- <font color="#FF0000">*</font> -->
                    </label>
                    <div class="form-inside">
                        <input type="file" class="form-item" id="picture" name="image" accept="image/*">
                    </div>
                </div>
                <div>
                    <label for="email" class="label-form-title">
                        อีเมล์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="email" class="form-item" id="email" name="email" placeholder="ใส่อีเมล์" required>
                    </div>
                </div>
                <div>
                    <label for="password" class="label-form-title">
                        รหัสผ่าน
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="password" class="form-item" id="txtPassword" name="password" placeholder="ใส่รหัสผ่าน" required>
                    </div>
                </div>
                <div>
                    <label for="confirm_password" class="label-form-title">
                        ยืนยันรหัสผ่าน
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="password" class="form-item" id="txtConfirmPassword" name="confirm_password" placeholder="ใส่ยืนยันรหัสผ่าน" required >
                    </div>
                </div>
                <div>
                    <label for="penname" class="label-form-title">
                        ชื่อผู้ใช้
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="text" class="form-item" id="email" name="username" placeholder="ใส่ชื่อผู้ใช้" required >
                    </div>
                </div>
                <div>
                    <label for="name" class="label-form-title">
                        ชื่อจริง
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="text" class="form-item" id="name" name="firstname" placeholder="กรอกชื่อ" required>
                    </div>
                </div>

                <div>
                    <label for="lastname" class="label-form-title">
                        นามสกุล
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="text" class="form-item" id="lastname" name="lastname" placeholder="กรอกนามสกุล" required>
                    </div>
                </div>

                <div>
                    <label for="alias" class="label-form-title">
                        ชื่อนามแฝง
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="text" class="form-item" id="alias" name="alias" placeholder="กรอกชื่อนามแฝง" required>
                    </div>
                </div>
                <div>
                    <label for="gender" class="label-form-title">
                        เพศ
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <div class="profile-radio">
                            <input name="gender" type="radio" id="male" value="male" checked="">
                            <label for="male">
                                ชาย
                            </label>
                        </div>
                        <div class="profile-radio">
                            <input name="gender" type="radio" id="female" value="female" checked="">
                            <label for="male">
                                หญิง
                            </label>
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="gender" class="label-form-title">
                        วันเกิด
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <div class="profile-selectbox">
                            <label>
                                <input type="date" id="party-time" name="birth_day" required>                  
                            </label>  
                        </div>
                    </div>
                </div>

                <div>
                    <label for="telephone" class="label-form-title">
                        เบอร์โทรศัพท์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="form-inside">
                        <input type="text" class="form-item" id="tel" name="number" placeholder="กรอกเบอร์โทรศัพท์" maxlength="10" required>
                    </div>
                </div>
                <div class="form-inside">
                    <div class="checkbox">
                        <input type="checkbox" id="accept">
                        <label for="accept">
                            ฉันได้อ่านและยอมรับ
                            <a href="/Sign_up/acception" title="ข้อตกลงการใช้งาน">ข้อตกลงการใช้งาน</a>
                        </label>
                    </div>
                </div>
                
                <div class="submit-login">
                    <input type="submit" class="submit-login-btn" value="สมัครสมาชิก" onclick="return Validate()">
                    <button type="button" class="fb-login-btn">
                        <img src="/image/facebook icon.svg" class="fb-icon-login">
                        สมัครสมาชิกด้วย Facebook
                    </button>
                    <button type="button" class="gg-login-btn">
                        <img src="/image/google icon.svg" class="gg-icon-login">
                        สมัครสมาชิกด้วย Google
                    </button>
                </div>
            </form>
    
        </div>
    </div>

</body>
</html>
<%- include("patials/footer") %>

<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>