<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allNews</title>
</head>
<body>
    <section class="all-news">
        <div class="all-news-container">
            <header class="headline-sticky">
                <h2 class="headline__name">ข่าวเกมทั้งหมด</h2>
            </header>
            <section class="box">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 17rem;">
                            <a href="">
                              <img src="https://www.online-station.net/pic/X2NvbnRlbnQvMjAyMC8wNTE1LzE2NDMxNi90aHVtYm5haWwvVHJ1ZS1TdXBlci1GaWJlci1HYW1lci1Qcm8tUGFja18xMjAwXzYyOC5qcGcmdz0yODAmaD0xNDc" class="card-img-top">
                            </a>
                            <div class="card-body">
                              <a href=""class="card-text">ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="loadmore-content">
                <a href="#" class="btn-outline-scrollto">
                    โหลดเพิ่ม
                    <svg class="bi bi-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</body>
</html>

<%- include("patials/footer") %>

