<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create-news</title>
    <link rel="stylesheet" href="/css/all_news.css">
</head>
<body>
    <div class="login">
        <form action="/news/c_news" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Head of news</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="head">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Detail of news</label>
                <input type="text" class="form-control" id="exampleInputPassword1" style="height: 150px;" name="content">
            </div>
            <button type="submit" class="btn btn-primary" style="float: right;">Create</button>
        </form>
    </div>
     <br>
     <br>
     <br>
</body>
</html>

<%- include("patials/footer") %>