<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news-view</title>
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <div class="contents">
        <div class="contents_main">
            <div class="contents_read" >
                <h2>
                    <strong>ติดตั้ง True Super Fiber Gamer Pro Pack ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล</strong>
                </h2>
                <p>เรียกว่างานนี้ใครที่เป็นแฟนๆ พี่แป้ง ZBING Z. ไม่ควรพลาดเลย เพราะในวันนี้ทาง True Online เขาปล่อยโปรโมชั่นพิเศษออกมาเอาใจแฟนคลับพี่แป้งโดยเฉพาะ โดยผู้ที่ติดตั้งแพ็กเกจอินเทอร์เน็ตไฟเบอร์สุดแรงอย่าง True Super Fiber Gamer Pro Pack ในวันนี้มีสิทธิ์ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัลไปเลยทันที

                    กติกาง่ายๆ มีดังนี้
                    1. สมัครแพ็คเกจอินเทอร์เน็ต True Super Fiber Gamer Pro Pack ตั้งแต่วันที่ 1 พฤษภาคม – 30 มิถุนายน 2563
                    2. ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัล ได้แก่ หมวก จำนวน 10 รางวัล เสื้อแจ็กเก็ต จำนวน 10 รางวัล และริสต์แบนด์ จำนวน 10 รางวัล 
                    3. ประกาศรายชื่อผู้โชคดีในวันที่ 1 กรกฏาคม 2563 บนหน้าแฟนเพจ Online Station
                    
                    ติดต่อสอบถามข้อมูลเพิ่มเติมได้ที่เบอร์ 02-700-8000
                    
                    สมัครแพ็กเกจอินเทอร์เน็ตไฟเบอร์ความเร็วสูงอย่าง True Super Fiber Gamer Pro Pack ได้ที่ลิงค์ https://f.ls/MElJC
                    ง่ายๆ เพียงเท่านี้คุณก็อาจจะเป็นหนึ่งในผู้โชคดีที่ลุ้นรับสินค้าพี่แป้ง ZBING Z. จำนวน 30 รางวัลแล้ว ดังนั้นอย่าลืมเข้ามาร่วมกิจกรรมกันนะครับ!</p>
            </div>
        </div>
    </div>
</body>
</html>

<%- include("patials/footer") %>