<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changePassword</title>
    <link rel="stylesheet" href="Edit_profile.css">
</head>
<body>
    <main class="profile-content">
        <div class="profile-content-container">
            <h1>แก้ไขรหัสผ่าน</h1>

            <form class="profile-form">
                <div class="profile-form-group">
                    <label for="usrname" class="profile-label-item profile-form-title">
                        อีเมลล์
                    </label>
                    <div class="profile-form-inside">
                        <p>nuiwitclup@gmail.com</p>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="re-repassword" class="profile-label-item profile-form-title">
                        กรอกรหัสผ่านเก่า
                    </label>
                    <div class="profile-form-inside">
                        <input type="password" class="profile-form-item" id="oldpassword" name="oldpassword" placeholder="ใส่รหัสผ่านเก่า" value="">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="current-password" class="profile-label-item profile-form-title">
                        กรอกรหัสผ่านใหม่
                    </label>
                    <div class="profile-form-inside">
                        <input type="password" class="profile-form-item" id="password" name="password" placeholder="ใส่รหัสผ่านใหม่" value="">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="current-password" class="profile-label-item profile-form-title">
                        ยืนยันรหัสผ่านใหม่
                    </label>
                    <div class="profile-form-inside">
                        <input type="password" class="profile-form-item" id="repassword" name="repassword" placeholder="ใส่ยืนยันรหัสผ่านใหม่" value="">
                    </div>
                </div>
                
                <div class="profile-form-act">
                    <input type="submit" id="editprofile" class="profile-btn profile-btn-primary" value="บันทึก">
                </div>
            </form>
            
        </div>
    </main>
</body>
</html>