<%- include("patials/header") %>
<head>
    <title>Login page</title>

    <link rel="stylesheet" href="/css/login.css">
    
    <style>

        body {
          background-image: url('/image/overwatch_tracer_2.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
      }
    </style>
</head>
    
<body>
   <div class="login-form">
    <div class="login" href="/">
        <a href="/" class="login_btn_close">
            <div class="login-icon-close"></div>
        </a>
        <div class="login_header">
            <h4 style="font-family: 'Kanit', sans-serif; color: gray;">เข้าสู่ระบบเว็บ 
                <span style="font-family: 'Roboto', sans-serif; color: lightseagreen;">Instagame</span>
            </h4>
        </div>
        <form action = '/login' method = 'POST' class="form-hor">
            <div>
                <label for="email" class="label-form-title">ชื่อผู้ใช้</label>
                <div class="form-inside">
                    <input type="text" class="form-item" id="username" name="username" placeholder="ใส่ชื่อผู้ใช้" required>
                </div>
            </div>
            <div>
                <label for="password" class="label-form-title">รหัสผ่าน</label>
                <div class="form-inside">
                    <input type="password" class="form-item" id="password" name="password" placeholder="ใส่รหัสผ่าน" required>
                </div>
            </div>
            <div>
                <a href="/login/forgetpsswd" title="ลืมรหัสผ่าน" class="forget-psw">
                    <img src="/image/unlock.svg" class="forget-psw-icon">
                    ลืมรหัสผ่าน
                </a>
            </div>
            <div class="submit-login">
                <input type="submit" class="submit-login-btn" value="เข้าสู่ระบบ">
                <button type="button" class="fb-login-btn">
                    <img src="/image/facebook icon.svg" class="fb-icon-login">
                    เข้าสู่ระบบด้วย Facebook
                </button>
                <button type="button" class="gg-login-btn">
                    <img src="/image/google_icon.svg " class="gg-icon-login">
                    เข้าสู่ระบบด้วย Google
                </button>
            </div>
        </form>
    </div>
</body>
   </div> 


<%- include("patials/footer") %>
